/* ******* COMMON: FONT ******* */

.app__font--h1 {
    font: @AppFont-H1-Weight ~'@{AppFont-H1-Size}/@{AppFont-H1-LineHeight}' @AppFont-H1-Family;
    color: @AppFont-H1-Color;
    font-style: @AppFont-H1-Style;
    text-decoration: @AppFont-H1-Decoration;
}

.app__font--h2 {
    font: @AppFont-H2-Weight ~'@{AppFont-H2-Size}/@{AppFont-H2-LineHeight}' @AppFont-H2-Family;
    color: @AppFont-H2-Color;
    font-style: @AppFont-H2-Style;
    text-decoration: @AppFont-H2-Decoration;
}

.app__font--h3 {
    font: @AppFont-H3-Weight ~'@{AppFont-H3-Size}/@{AppFont-H3-LineHeight}' @AppFont-H3-Family;
    color: @AppFont-H3-Color;
    font-style: @AppFont-H3-Style;
    text-decoration: @AppFont-H3-Decoration;
}

.app__font--h4 {
    font: @AppFont-H4-Weight ~'@{AppFont-H4-Size}/@{AppFont-H4-LineHeight}' @AppFont-H4-Family;
    color: @AppFont-H4-Color;
    font-style: @AppFont-H4-Style;
    text-decoration: @AppFont-H4-Decoration;
}

.app__font--h5 {
    font: @AppFont-H5-Weight ~'@{AppFont-H5-Size}/@{AppFont-H5-LineHeight}' @AppFont-H5-Family;
    color: @AppFont-H5-Color;
    font-style: @AppFont-H5-Style;
    text-decoration: @AppFont-H5-Decoration;
}

.app__font--h6 {
    font: @AppFont-H6-Weight ~'@{AppFont-H6-Size}/@{AppFont-H6-LineHeight}' @AppFont-H6-Family;
    color: @AppFont-H6-Color;
    font-style: @AppFont-H6-Style;
    text-decoration: @AppFont-H6-Decoration;
}

.app__font--p {
    font: @AppFont-P-Weight ~'@{AppFont-P-Size}/@{AppFont-P-LineHeight}' @AppFont-P-Family;
    color: @AppFont-P-Color;
    font-style: @AppFont-P-Style;
    text-decoration: @AppFont-P-Decoration;
}

.app__font--a {
    font-weight: @AppFont-A-Weight;
    color: @AppFont-A-Color;
    font-style: @AppFont-A-Style;
    text-decoration: @AppFont-A-Decoration;
}

.app__font--default {
    font: @AppFont-Default-Weight ~'@{AppFont-Default-Size}/@{AppFont-Default-LineHeight}' @AppFont-Default-Family;
    color: @AppFont-Default-Color;
    font-style: normal;
    text-decoration: none;
}

/* *** COMPONENTS *** */

.com__dialog-font {
    .app__font--default;

    .cm__inherit {
        color: @AppFont-Default-Color;
    }
}

.app-lt__topmenu-font {
    .app__font--default;
}

.app-lt__sidebar-font {
    .app__font--default;
}

.app__helptour-font {
    .app__font--default;

    .cm__inherit {
        color: @AppFont-Default-Color;
    }
}