/* ******* COMMON: TAGS ******* */

h1 {
    .app__font--h1;
}

h2 {
    .app__font--h2;
}

h3 {
    .app__font--h3;
}

h4 {
    .app__font--h4;
}

h5 {
    .app__font--h5;
}

h6 {
    .app__font--h6;
}

p {
    .app__font--p;
}

.cm__font--link {
    .app__font--a;
}

.cm__tags--title {
    a,
    .link--inner {
        font-style: inherit;
        font-weight: inherit;
        color: inherit;
        text-decoration: inherit;
    }
}