/* ******* PART: UI ******* */

/* *** MODULES / PAGES *** */

.app__page,
.app__module {
    margin: 0 0 @CmIndent-Medium;

    &.bottom {
        margin: 0;
    }
}

.app-mod__default {
    &:extend(.app__module all);
}

.app-page__default {
    &:extend(.app__page all);
}

/* *** AREAS *** */

.app__area-main {
    .clearfix;
    min-height: 500px;
}

.app__area-footer,
.app__area-header {
    min-width: 200px;
    min-height: @CmIndent-Medium * 2;
    padding: 0;
    position: absolute;
    z-index: 1;

    &.main {
        min-width: 0;
        position: relative;
    }

    &:hover {
        z-index: 100 !important;
    }

    .app__module {
        margin: 0;
    }
}

/* *** WRAPPERS *** */

.app-lt__template {
    min-height: 100%;
    position: relative;
}

html {
    &.is-topmenu {
        .app-lt__template {
            margin-top: @AppLT-TopMenu-Height;
        }

        .app-lt__sidebar {
            top: @AppLT-TopMenu-Height;
        }

        &.is-topmenu--expanded {
            overflow: hidden;
        }
    }

    &.is-sidebar {
        .app-lt__template {
            margin-left: @AppLT-Sidebar-Width;
            .mx__transition(margin, @AppLT-Sidebar-Duration);
        }

        &.is-sidebar--collapsed {
            .app-lt__template {
                margin-left: @AppLT-Sidebar-WidthCollapsed;
            }
        }
    }

    &.is-sidebar--collapsed,
    &:not(.is-sidebar--expanded):not(.is-sidebar--collapsed) {
        .app__area-footer,
        .app__area-header,
        .app__area-main {
            min-height: 0;
        }

        .app__module {
            &:last-child {
                margin: 0;
            }
        }

        .pt__dnd-area {
            min-height: 0;
            padding: 0;
        }

        .app__widget-container {
            &:last-child {
                margin: 0;
            }
        }
    }

    &.is-immediately {
        .app-lt__template {
            .cm__transition-none;
        }
    }
}

/* ******* PART: UI: ADAPTIVE ******* */

@media only screen and (max-width : @CmScreen-Tablet) {

    html.is-adaptive {
        &.is-sidebar {
            .app-lt__template {
                margin-left: @AppLT-Sidebar-WidthTablet;
            }

            &.is-sidebar--collapsed {
                .app-lt__template {
                    margin-left: @AppLT-Sidebar-WidthCollapsed;
                }
            }
        }
    }

}

@media only screen and (max-width : @CmScreen-MobilePortrait) {

    html.is-adaptive {
        &.is-sidebar {
            .app-lt__template {
                margin-left: 0;
            }

            &.is-sidebar--collapsed {
                .app-lt__template {
                    margin-left: 0;
                }
            }
        }
    }

}

/* *** PARTS: UI: PRINT *** */

@media print {

    .app-lt__template {
        margin: 0 !important;
    }

}