/* ******* COMMON: UI ******* */

/* *** TEMPLATE *** */

.tpl__container {
    position: relative;
    z-index: 1;
    background: @AppTpl-Container-Background;
    background-size: @AppTpl-Container-BackgroundSize;
}

.tpl__header,
.tpl__content,
.tpl__footer {
    position: relative;
}

.tpl__header {
    z-index: 3;
}

.tpl__content {
    z-index: 1;
}

.tpl__footer {
    z-index: 2;
}

.tpl__header__inner,
.tpl__content__inner,
.tpl__footer__inner {
    width: 100%;
    max-width: 100%;
    position: relative;
}

.tpl__header__size (@value) when (@value = wide) {
    .tpl__header {
        padding: @AppTpl-Block-Padding;
    }
}

.tpl__header__size (@value) when (@value = box) {
    .tpl__header {
        padding: @AppTpl-Block-Padding;
    }

    .tpl__header__inner {
        max-width: @AppTpl-Header-Width;
        .mx__align(@AppTpl-Header-Align);
    }
}

.tpl__footer__size (@value) when (@value = wide) {
    .tpl__footer {
        padding: @AppTpl-Block-Padding;
    }
}

.tpl__footer__size (@value) when (@value = box) {
    .tpl__footer {
        padding: @AppTpl-Block-Padding;
    }

    .tpl__footer__inner {
        max-width: @AppTpl-Footer-Width;
        .mx__align(@AppTpl-Footer-Align);
    }
}

.tpl__container__size (@value) when (@value = wide) {
    .tpl__header__size(@AppTpl-Header-Size);
    .tpl__footer__size(@AppTpl-Footer-Size);
}

.tpl__container__size (@value) when (@value = box) {
    .tpl__header,
    .tpl__footer,
    .tpl__content {
        padding: @AppTpl-Block-Padding;
    }

    .tpl__header__inner,
    .tpl__content__inner,
    .tpl__footer__inner {
        max-width: @AppTpl-Container-Width;
        .mx__align(@AppTpl-Container-Align);
    }
}

.tpl__container__size(@AppTpl-Container-Size);

// /* *** TEMPLATE MIXINS *** */

.tpl__header__flex-area (@area: main) {
    .display-flex;
    .mx__flex-direction(row);

    .tpl__header__inner {
        .display-flex;
        .mx__flex(1 1 auto);

        .app__area-header {
            &.@{area} {
                max-width: 100%;
                .mx__flex(1 1 auto);
            }
        }
    }
}

.tpl__content__flex-area () {
    .display-flex;
    .mx__flex-direction(row);
    .mx__justify-content(flex-start);

    .tpl__content__inner {
        .display-flex;
        .mx__flex(1 1 auto);
        .mx__flex-direction(row);
        .mx__justify-content(flex-start);

        .app__area-main {
            width: 100%;
            max-width: 100%;
            .mx__flex(1 1 auto);
        }
    }
}

.tpl__footer__flex-area (@area: main) {
    .display-flex;
    .mx__flex-direction(row);

    .tpl__footer__inner {
        .display-flex;
        .mx__flex(1 1 auto);

        .app__area-footer {
            &.@{area} {
                max-width: 100%;
                .mx__flex(1 1 auto);
            }
        }
    }
}

/* *** MODULES / PAGES *** */

.app__page,
.app__module {
    .clearfix;
}

.app-mod__default {
}

.app-page__default {
}

/* *** AREAS *** */

.app__area-main {
}

.app__area-footer,
.app__area-header {
    .clearfix;
    z-index: 1;

    &:not(.main):not(.splash) {
        padding: 0;
    }

    &:hover {
        z-index: 100 !important;
    }
}

/* *** WRAPPERS *** */

html {
    &.is-topmenu {
        .tpl__container {
            margin-top: @AppLT-TopMenu-Height;
        }

        .app-lt__sidebar {
            top: @AppLT-TopMenu-Height;
        }

        &.is-topmenu--expanded {
            overflow: hidden;
        }
    }

    &.is-sidebar {
        .tpl__container {
            margin-left: @AppLT-Sidebar-WidthCollapsed;
            .mx__transition(margin, @AppLT-Sidebar-Duration);
        }
    }

    &.is-sidebar--expanded {
        .app__area-main {
            min-height: @AppUI-Area-ContentHeight;
        }

        .app__area-footer,
        .app__area-header {
            min-height: @AppUI-Area-Height;

            &:not(.main) {
                min-width: @AppUI-Area-Width;
            }
        }

        .pt__dnd-area.is-available {
            .app-pt__widget-container {
                margin: 0 0 @AppPT-Widget-Indent !important;
            }
        }

        .tpl__container {
            margin-left: @AppLT-Sidebar-WidthExpanded;
        }

        .tpl__header,
        .tpl__content,
        .tpl__footer {
            &:hover {
                z-index: 10;
            }
        }
    }

    &.is-sidebar--collapsed {
        .app-pt__widget__controls {
            display: none;
        }
    }

    &.is-sidebar--collapsed,
    &:not(.is-sidebar--expanded):not(.is-sidebar--collapsed) {
        .app__area-footer,
        .app__area-header,
        .app__area-main {
            min-height: 0;
        }

        .pt__dnd-area {
            min-height: 0;
            padding: 0;
        }

        .app-pt__widget-container {
            &:last-child {
                margin: 0;
            }
        }
    }

    &.is-immediately {
        .tpl__container {
            .cm__transition-none;
        }
    }
}

/* ******* PART: UI: ADAPTIVE ******* */

@media only screen and (max-width : @CmUI-AdaptiveFrom) {

    html.is-adaptive {
        .tpl__header__inner,
        .tpl__content__inner,
        .tpl__footer__inner {
            max-width: 100%;
        }

        &.is-sidebar {
            .tpl__container {
                margin-left: 0;
            }

            &.is-sidebar--collapsed {
                .tpl__container {
                    margin-left: 0;
                }
            }
        }
    }
}

/* *** PARTS: UI: PRINT *** */

@media print {

    .tpl__container {
        margin: 0 !important;
    }

}