/* ******* COMMON: UI ******* */

/* *** TEMPLATE *** */

.tpl__container {
    min-height: 100%;
    position: relative;
    background: @AppTpl-Container-Background;
}

.tpl__header,
.tpl__content,
.tpl__footer {
    position: relative;
}

.tpl__header__inner,
.tpl__content__inner,
.tpl__footer__inner {
    position: relative;
}

.tpl__container__size (@value) when (@value = wide) {
    .tpl__header,
    .tpl__footer {
        padding: @AppTpl-Block-Padding;
    }

    .tpl__header__inner {
        max-width: @AppTpl-Header-Width;
        .mx__align(@AppTpl-Header-Align);
    }

    .tpl__footer__inner {
        max-width: @AppTpl-Footer-Width;
        .mx__align(@AppTpl-Footer-Align);
    }
}

.tpl__container__size (@value) when (@value = box) {
    .tpl__header,
    .tpl__footer,
    .tpl__content {
        padding: @AppTpl-Block-Padding;
    }

    .tpl__header__inner,
    .tpl__content__inner,
    .tpl__footer__inner {
        max-width: @AppTpl-Container-Width;
        .mx__align(@AppTpl-Container-Align);
    }
}

.tpl__container__size(@AppTpl-Container-Size);

/* *** MODULES / PAGES *** */

.app__page,
.app__module {
    .clearfix;
}

.app-mod__default {
}

.app-page__default {
}

/* *** AREAS *** */

.app__area-main {
    .clearfix;
    min-height: 500px;
}

.app__area-footer,
.app__area-header {
    .clearfix;
    min-width: 200px;
    min-height: @CmIndent-Medium * 2;
    position: absolute;
    z-index: 1;

    &:not(.main) {
        padding: 0;
    }

    &.main {
        min-width: 0;
        position: relative;
    }

    &:hover {
        z-index: 100 !important;
    }
}

/* *** WRAPPERS *** */

html {
    &.is-topmenu {
        .tpl__container {
            margin-top: @AppLT-TopMenu-Height;
        }

        .app-lt__sidebar {
            top: @AppLT-TopMenu-Height;
        }

        &.is-topmenu--expanded {
            overflow: hidden;
        }
    }

    &.is-sidebar {
        .tpl__container {
            margin-left: @AppLT-Sidebar-Width;
            .mx__transition(margin, @AppLT-Sidebar-Duration);
        }

        &.is-sidebar--collapsed {
            .tpl__container {
                margin-left: @AppLT-Sidebar-WidthCollapsed;
            }
        }
    }

    &.is-sidebar--expanded {
        .app-pt__widget-container {
            margin: 0 0 @AppPT-Widget-Indent !important;
        }

        .app-pt__widgets-category {
            .app-pt__widget-container {
                margin: 0 !important;
            }
        }
    }

    &.is-sidebar--collapsed,
    &:not(.is-sidebar--expanded):not(.is-sidebar--collapsed) {
        .app__area-footer,
        .app__area-header,
        .app__area-main {
            min-height: 0;
        }

        .pt__dnd-area {
            min-height: 0;
            padding: 0;
        }

        .app-pt__widget-container {
            &:last-child {
                margin: 0;
            }
        }
    }

    &.is-immediately {
        .tpl__container {
            .cm__transition-none;
        }
    }
}

/* ******* PART: UI: ADAPTIVE ******* */

@media only screen and (max-width : @CmScreen-Tablet) {

    html.is-adaptive {
        &.is-sidebar {
            .tpl__container {
                margin-left: @AppLT-Sidebar-WidthTablet;
            }

            &.is-sidebar--collapsed {
                .tpl__container {
                    margin-left: @AppLT-Sidebar-WidthCollapsed;
                }
            }
        }
    }

}

@media only screen and (max-width : @CmScreen-MobilePortrait) {

    html.is-adaptive {
        &.is-sidebar {
            .tpl__container {
                margin-left: 0;
            }

            &.is-sidebar--collapsed {
                .tpl__container {
                    margin-left: 0;
                }
            }
        }
    }

}

/* *** PARTS: UI: PRINT *** */

@media print {

    .tpl__container {
        margin: 0 !important;
    }

}