/* ******* WIDGETS ******* */

/* Widget */

.app__widget-container {
    position: relative;
    margin: 0 0 @AppPtWidget-Indent;
    z-index: 1;
    -webkit-transform: translateZ(0);
    .mx__transition(z-index, @CmUI-Transition-Duration);

    // /* Widget */

    > .app__widget {
        .pt__editable__bundle > .normal;
        margin: 0;
        .mx__transition(opacity, @CmUI-Transition-Duration);

        &.is-hidden {
            display: none;
        }

        &.is-visible {
            display: block;
        }

        &.is-editable {
            .pt__editable__bundle > .editable;
        }

        &.is-hide {
            .cm__transition-none;
            overflow: hidden;
            opacity: 0;
        }

        &.is-locked {
        }
    }

    // /* Module */

    .app__module {
        margin: 0;
    }

    // /* Dummy */

    > .app__widget-dummy {
        position: relative;
        border-radius: @AppPtWidget-Dummy-BorderRadius;
        cursor: move;
        .mx__transition(background-color box-shadow, @CmUI-Transition-Duration);

        > .inner {
            padding: @AppPtWidget-Dummy-Padding;
        }

        .icon {
            width: 90px;
            height: 90px;
            margin: 0 auto;
            background: @AppPtWidget-Dummy-Background;
            border-radius: @AppPtWidget-Dummy-BorderRadiusInner;
            .mx__transition(background-color, @CmUI-Transition-Duration);

            img {
                width: 100%;
                height: 100%;
                display: block;
                .mx__user-select(none);
            }
        }

        .caption {
            padding: 4px 0;
            overflow: hidden;
            text-align: center;
            line-height: 15px;
            font-size: @CmFont-UI-SizeSmall;
        }

        .pt__box-loader {
            background: @AppPtWidget-Dummy-Background;
            border: 1px solid @AppPtWidget-Dummy-BorderColor;
            border-radius: @AppPtWidget-Dummy-BorderRadius;
            opacity: 0;
            .mx__transition(opacity, @CmUI-Transition-Duration);

            &.fadein {
                opacity: 1;
            }
        }

        &.is-hide {
            overflow: hidden;
        }
    }

    &:hover {
        z-index: 10;
        .mx__transition(z-index, @CmUI-Transition-DurationReverse);

        > .app__widget.is-editable {
            .pt__editable__bundle > .hover;
        }

        > .app__widget-dummy {
            .icon {
                background: @AppPtWidget-Dummy-HoverBackground;
                .mx__transition(background-color, @CmUI-Transition-DurationReverse);
            }
        }
    }

    &.is-active {
        z-index: 10;
        .mx__transition(z-index, @CmUI-Transition-DurationReverse);

        > .app__widget.is-editable {
            .pt__editable__bundle > .hover;
            .pt__editable__bundle > .active;
            opacity: 0.7;
            .mx__transition(opacity, @CmUI-Transition-DurationReverse);
        }

        > .app__widget-dummy {
            background: #ffffff;
            box-shadow: 0 1px 5px rgba(0,0,0,0.2);
            .mx__transition(background-color box-shadow, @CmUI-Transition-DurationReverse);

            .icon {
                background: @AppPtWidget-Dummy-ActiveBackground;
                .mx__transition(background-color, @CmUI-Transition-DurationReverse);
            }
        }
    }

    &.pt__dnd-helper {
        .pt__dnd-helper;
    }

    &.is-hide {
        overflow: hidden;
    }
}