/* ******* PARTS: ADMIN DESCRIPTION ******* */

.app-pt__admin-description {
    .cm__box;

    .app__module {
        margin: 0;
    }

    .pt__editable {
        &:last-child {
            margin: 0;
        }

        .cm__tags {
            margin: 0;
        }
    }
}