/* ******* PARTS: INVOICE ******* */

.app-pt__invoice {
    .app-pt__invoice__row-sep {
        td {
            padding: 0;
            border-bottom: @CmBorder-Box;
        }
    }

    .app-pt__invoice__row-space {
        tr {
            td {
                background: transparent;
            }

            &:hover {
                td {
                    background: transparent;
                }
            }
        }
    }

    .app-pt__invoice__row-total {
        .app-pt__invoice__cell-product {
            text-align: right;
        }
    }

    .app-pt__invoice__cell-cost {
        width: 128px;
    }
}

/* *** ADAPTIVE *** */


@media only screen and (max-width: @CmUI-AdaptiveFrom) {

    html.is-adaptive {
        .app-pt__invoice {
            .app-pt__invoice__cell-product {
                text-align: left;
            }
        }
    }

}