html {
    width: auto;
    height: auto;
    overflow: auto;
    background: #ffffff none;
}

body {
    width: auto;
    height: auto;
    margin: 0;
    padding: 24px;
    position: static;
    background: #ffffff none;
}