.app__additional-donations__row {
    .display-flex;
    min-height: @CmForm-FieldHeight;
    line-height: @CmForm-FieldHeight;

    .unveil {
        display: none;
    }

    label {
        @padding: round((@CmForm-FieldHeight - @CmFont-Base-LineHeight) / 2);
        padding: 0;
        margin: 0 0 0 @CmIndent-XSmall;
        line-height: @CmForm-FieldHeight;
        cursor: pointer;
        .mx__flex(1 1 auto);
    }

    input[type="radio"],
    input[type="checkbox"] {
        @margin: floor((@CmForm-FieldHeight - 13px) / 2);

        margin: @margin 0 @margin 0;
        padding: 0;
        cursor: pointer;

        &:checked + .unveil,
        &:checked + label + .unveil,
        &:checked + label + .unveil + .unveil {
            display: block;
        }
    }

    > .price,
    > .select,
    > .field {
        margin: 0 0 0 @CmIndent-Small;
        padding: 0;
        line-height: @CmForm-FieldHeight;
        .mx__flex(none);
    }

    > .select {
        width: 15%;
    }

    > .price {
        width: 50%;
    }
}

.app__additional-donations__descr {
    .cm__font--hint;
    padding: 0 0 0 26px;
    margin: 0 0 @CmIndent-XSmall 0;

    &:last-child {
        margin: 0;
    }
}

@media only screen and (max-width: @CmScreen-Tablet) {
    html.is-adaptive {
        .app__additional-donations__row {
            > .select {
                width: 25%;
            }

            > .price {
                width: 35%;
            }
        }
    }
}

@media only screen and (max-width: @CmUI-AdaptiveFrom) {
    html.is-adaptive {
        .app__additional-donations__row {
            > .select {
                width: 35%;
            }

            > .price {
                width: 20%;
            }
        }
    }
}

@media only screen and (max-width: @CmScreen-Mobile) {
    html.is-adaptive {
        .app__additional-donations__row {
            display: block;

            > .price,
            > .select,
            > .field {
                width: auto;
                margin: 0 0 @CmIndent-XXSmall 0;

                &:last-child {
                    margin: 0;
                }
            }
        }
    }
}