
// /* ************************************************ */
// /* ******* VARIABLES ******* */
// /* ************************************************ */

// /* ******* PATH ******* */

@AppPath-Images: '../img';

// /* ************************************************ */
// /* ******* FONT ******* */
// /* ************************************************ */

@AppFont-H1-Family: @CmFont-Base-Family;
@AppFont-H1-LineHeight: 34px;
@AppFont-H1-Size: 24px;
@AppFont-H1-Weight: @CmFont-Base-BoldWeight;
@AppFont-H1-Color: @CmFont-Base-Color;
@AppFont-H1-Decoration: none;
@AppFont-H1-Style: normal;

@AppFont-H2-Family: @CmFont-Base-Family;
@AppFont-H2-LineHeight: 24px;
@AppFont-H2-Size: 18px;
@AppFont-H2-Weight: @CmFont-Base-BoldWeight;
@AppFont-H2-Color: @CmFont-Base-Color;
@AppFont-H2-Decoration: none;
@AppFont-H2-Style: normal;

@AppFont-H3-Family: @CmFont-Base-Family;
@AppFont-H3-LineHeight: 24px;
@AppFont-H3-Size: 16px;
@AppFont-H3-Weight: @CmFont-Base-BoldWeight;
@AppFont-H3-Color: @CmFont-Base-Color;
@AppFont-H3-Decoration: none;
@AppFont-H3-Style: normal;

@AppFont-H4-Family: @CmFont-Base-Family;
@AppFont-H4-LineHeight: @CmFont-Base-LineHeight;
@AppFont-H4-Size: @CmFont-Base-Size;
@AppFont-H4-Weight: @CmFont-Base-BoldWeight;
@AppFont-H4-Color: @CmFont-Base-Color;
@AppFont-H4-Decoration: none;
@AppFont-H4-Style: normal;

@AppFont-H5-Family: @CmFont-Base-Family;
@AppFont-H5-LineHeight: @CmFont-Base-LineHeight;
@AppFont-H5-Size: 11px;
@AppFont-H5-Weight: @CmFont-Base-BoldWeight;
@AppFont-H5-Color: @CmFont-Base-Color;
@AppFont-H5-Decoration: none;
@AppFont-H5-Style: normal;

@AppFont-H6-Family: @CmFont-Base-Family;
@AppFont-H6-LineHeight: @CmFont-Base-LineHeight;
@AppFont-H6-Size: 9px;
@AppFont-H6-Weight: @CmFont-Base-BoldWeight;
@AppFont-H6-Color: @CmFont-Base-Color;
@AppFont-H6-Decoration: none;
@AppFont-H6-Style: normal;

@AppFont-P-Family: @CmFont-Base-Family;
@AppFont-P-LineHeight: @CmFont-Base-LineHeight;
@AppFont-P-Size: @CmFont-Base-Size;
@AppFont-P-Weight: @CmFont-Base-Weight;
@AppFont-P-Color: @CmFont-Base-Color;
@AppFont-P-Decoration: none;
@AppFont-P-Style: normal;

@AppFont-A-Weight: @CmFont-Base-Weight;
@AppFont-A-Color: @CmFont-Base-Color;
@AppFont-A-Decoration: none;
@AppFont-A-Style: normal;

// /* ************************************************ */
// /* ******* COMMON ******* */
// /* ************************************************ */

// /* ******* AREA ******* */

@AppUI-Area-Width: @CmIndent-XLarge;
@AppUI-Area-Height: @CmIndent-XLarge;
@AppUI-Area-ContentHeight: 256px;

// /* ************************************************ */
// /* ******* PARTS ******* */
// /* ************************************************ */

// /* ******* BOX ******* */

@AppPT-BoxLogin-Width: 350px;

// /* ******* WIDGETS ******* */

@AppPT-Widget-Indent: @CmIndent-Medium;

@AppPT-WidgetLoader-Background: @CmColor-Secondary-LightHover;
@AppPT-WidgetLoader-Border: @CmBorder-Default;
@AppPT-WidgetLoader-BorderRadius: @CmBorder-Radius;

@AppPT-WidgetCategory-Background: transparent;

@AppPT-WidgetDummy-Theme: Dark;
@AppPT-WidgetDummy-Width: 94px;
@AppPT-WidgetDummy-Padding: 2px;
@AppPT-WidgetDummy-BorderRadius: @CmBorder-Radius;
@AppPT-WidgetDummy-IconBorderRadius: 0px;
@AppPT-WidgetDummy-IconSize: 90px;

@AppPT-WidgetDummy-ThemeDark-ColorNormal: @CmColor-Font-Opposite;
@AppPT-WidgetDummy-ThemeDark-ColorHover: @CmColor-Font-Opposite;
@AppPT-WidgetDummy-ThemeDark-ColorActive: @CmColor-Font;
@AppPT-WidgetDummy-ThemeDark-BackgroundNormal: trannsparent;
@AppPT-WidgetDummy-ThemeDark-BackgroundHover: trannsparent;
@AppPT-WidgetDummy-ThemeDark-BackgroundActive: #ffffff;
@AppPT-WidgetDummy-ThemeDark-IconBackgroundNormal: rgba(255, 255, 255, 0.2);
@AppPT-WidgetDummy-ThemeDark-IconBackgroundHover: rgba(255, 255, 255, 0.5);
@AppPT-WidgetDummy-ThemeDark-IconBackgroundActive: @CmColor-Primary-DarkDefault;

@AppPT-WidgetDummy-ThemeLight-ColorNormal: @CmColor-Font;
@AppPT-WidgetDummy-ThemeLight-ColorHover: @CmColor-Font;
@AppPT-WidgetDummy-ThemeLight-ColorActive: @CmColor-Font;
@AppPT-WidgetDummy-ThemeLight-BackgroundNormal: trannsparent;
@AppPT-WidgetDummy-ThemeLight-BackgroundHover: trannsparent;
@AppPT-WidgetDummy-ThemeLight-BackgroundActive: #ffffff;
@AppPT-WidgetDummy-ThemeLight-IconBackgroundNormal: @CmColor-Secondary-LightHover;
@AppPT-WidgetDummy-ThemeLight-IconBackgroundHover: @CmColor-Primary-LightActive;
@AppPT-WidgetDummy-ThemeLight-IconBackgroundActive: @CmColor-Primary-LightActive;

// /* ************************************************ */
// /* ******* LAYOUTS ******* */
// /* ************************************************ */

// /* ******* TOP MENU ******* */

@AppLT-TopMenu-Height: 40px;
@AppLT-TopMenu-Duration: 300ms;
@AppLT-TopMenu-Background: #000000;
@AppLT-TopMenu-Color: @CmColor-Font-Opposite;
@AppLT-TopMenu-FontSize: @CmFont-Base-Size;
@AppLT-TopMenu-FontWeight: @CmFont-Base-BoldWeight;
@AppLT-TopMenu-ItemBorder: @CmBorder-Width solid rgba(255,255,255,0.4);
@AppLT-TopMenu-ItemBackground: rgba(255,255,255,0.2);

// /* ******* SIDEBAR ******* */

@AppLT-Sidebar-Width: 319px;
@AppLT-Sidebar-WidthTablet: 225px;
@AppLT-Sidebar-WidthCollapsed: 24px + (@AppLT-Sidebar-Padding * 2);
@AppLT-Sidebar-Padding: @CmIndent-XSmall;
@AppLT-Sidebar-Duration: 500ms;

@AppLT-Sidebar-Theme: 'Dark';
@AppLT-Sidebar-ThemeDark-Color: @CmColor-Font-Opposite;
@AppLT-Sidebar-ThemeDark-Background: @CmColor-Primary-DarkDefault;
@AppLT-Sidebar-ThemeDark-TitleIcon: "@{CmPath-Images}/icons/medium/ui-arrow-white-left.png";
@AppLT-Sidebar-ThemeLight-Color: @CmColor-Font;
@AppLT-Sidebar-ThemeLight-Background: #ffffff;
@AppLT-Sidebar-ThemeLight-TitleIcon: "@{CmPath-Images}/icons/medium/ui-arrow-left.png";

@AppPT-WidgetDummy-Theme: @AppLT-Sidebar-Theme;

// /* ******* TEMPLATES ******* */

@AppLT-Templates-Item-Padding: @CmIndent-XSmall;

// /* ************************************************ */
// /* ******* COMPONENTS ******* */
// /* ************************************************ */



// /* ************************************************ */
// /* ******* MODULES ******* */
// /* ************************************************ */

// /* ******* KNOWLEDGE CENTRE ******* */

@AppMod-KnowledgeCentre-Title-MinWidth: 170px;

// /* ******* SITEMAP ******* */

@AppMod-Sitemap-FontSize: @CmFont-Base-Hint-Size;
@AppMod-Sitemap-Color: @CmFont-Base-Color;
@AppMod-Sitemap-Title-Color: @AppMod-Sitemap-Color;
@AppMod-Sitemap-IndentY: @CmIndent-Medium;

// /* ************************************************ */
// /* ******* PAGES ******* */
// /* ************************************************ */

// /* ************************************************ */
// /* ******* TEMPLATE ******* */
// /* ************************************************ */

@AppTpl-Container-Size: box;        // wide | box
@AppTpl-Container-Width: 1000px;
@AppTpl-Container-Align: center;
@AppTpl-Container-BackgroundColor: transparent;
@AppTpl-Container-BackgroundImage: none;
@AppTpl-Container-BackgroundPosition: center center;
@AppTpl-Container-BackgroundRepeat: no-repeat;
@AppTpl-Container-BackgroundSize: auto;
@AppTpl-Container-BackgroundParallax: scroll;
@AppTpl-Container-Background: @AppTpl-Container-BackgroundColor @AppTpl-Container-BackgroundImage @AppTpl-Container-BackgroundRepeat @AppTpl-Container-BackgroundPosition @AppTpl-Container-BackgroundParallax;

@AppTpl-Block-PaddingY: 0;
@AppTpl-Block-PaddingX: @CmIndent-Medium;
@AppTpl-Block-Padding: @AppTpl-Block-PaddingY @AppTpl-Block-PaddingX;

@AppTpl-Header-Size: box;
@AppTpl-Header-Width: 1000px;
@AppTpl-Header-Align: center;

@AppTpl-Footer-Size: box;
@AppTpl-Footer-Width: 1000px;
@AppTpl-Footer-Align: center;

// /* ************************************************ */
// /* ******* MAGPIE UI ******* */
// /* ************************************************ */

// /* ******* FONT ******* */

@CmColor-Font: @AppFont-P-Color;
@CmColor-Font-Link: @AppFont-A-Color;

@CmFont-Base-Family: @AppFont-P-Family;
@CmFont-Base-LineHeight: @AppFont-P-LineHeight;
@CmFont-Base-Size: @AppFont-P-Size;
@CmFont-Base-Weight: @AppFont-P-Weight;