
// /* ************************************************ */
// /* ******* FONT GLYPH ******* */
// /* ************************************************ */

@AppIconVars-Family: 'QuickSilk-Glyphs';
@AppIconVars-Color: @CmIconVars-Color;
@AppIconVars-Version: 11;

@AppIcon-Gear: '\e600';
@AppIcon-Gears: '\e601';
@AppIcon-Pages: '\e602';
@AppIcon-Palette: '\e603';
@AppIcon-Layouts: '\e602';
@AppIcon-Templates: '\e603';
@AppIcon-Plus: '\e604';

@AppIcon-CircleHelp: '\e700';
@AppIcon-CircleUser: '\e701';