// /* ******* PATCHES ******* */

@AppPath-image: '../img';

// /* ******* COMPONENTS  ******* */

// /* *** WIDGETS *** */

@AppWidget-dummyBackground: @cm-colorSecondary;
@AppWidget-dummyBackgroundHover: @cm-colorActive;
@AppWidget-dummyBackgroundActive: @cm-colorActive;
@AppWidget-dummyBorderColor: @cm-colorBorder;
@AppWidget-dummyBorderRadius: @cm-borderRadius;
@AppWidget-dummyBorderRadiusInner: 0px;
@AppWidget-dummyPadding: 2px;
@AppWidget-indent: @cm-indentMedium;

// /* *** LOGIN BOX *** */

@AppLoginBox-width: 350px;

// /* *** SITEMAP *** */

@AppSitemap-fontSize: 11px;
@AppSitemap-color: @cm-colorFont;
@AppSitemap-colorTitle: @AppSitemap-color;

// /* *** KNOWLEDGE CENTRE *** */

@AppKnowledgeCentre-titleMinWidth: 170px;

// /* *** AGGREGATOR *** */

@AppAggregator-stuffFontSize: @cm-fontSizeUI;
@AppAggregator-stuffColor: @cm-colorFontMedium;

// /* *** SOCIAL **** */

@AppModule-Icons-size: @cm-Large;

// /* ******* LAYOUTS ******* */

// /* *** TOP MENU *** */

@AppLT-TopMenu-Height: 40px;
@AppLT-TopMenu-Duration: 300ms;
@AppLT-TopMenu-Background: #000000;
@AppLT-TopMenu-Color: #d6d6d6;
@AppLT-TopMenu-FontSize: 13px;
@AppLT-TopMenu-ItemBorder: @cm-borderWidth solid rgba(255,255,255,0.4);
@AppLT-TopMenu-ItemBackground: rgba(255,255,255,0.2);

// /* *** SIDEBAR *** */

@AppLT-Sidebar-width: 319px;
@AppLT-Sidebar-widthTablet: 208px;
@AppLT-Sidebar-padding: @cm-indentXSmall;
@AppLT-Sidebar-widthCollapsed: 24px + (@AppLT-Sidebar-padding * 2);
@AppLT-Sidebar-dummyWidth: 94px;
@AppLT-Sidebar-duration: 500ms;
@AppLT-Sidebar-background: #ffffff;

// /* *** TEMPLATES *** */

@AppLT-Templates-ItemPadding: @cm-indentXSmall;

// /* ******* PAGES ******* */