
// /* ************************************************ */
// /* ******* FONT GLYPH ******* */
// /* ************************************************ */

@AppIconVars-Family: 'QuickSilk-Glyphs';
@AppIconVars-Color: @CmIconVars-Color;
@AppIconVars-Version: 19;

@AppIcon-QuickSilk: '\e600';
@AppIcon-Plus: '\e601';
@AppIcon-Gear: '\e602';
@AppIcon-Gears: '\e603';
@AppIcon-Pages: '\e604';
@AppIcon-Layouts: '\e605';
@AppIcon-Palette: '\e606';
@AppIcon-Templates: '\e606';

@AppIcon-CircleHelp: '\e701';
@AppIcon-CircleUser: '\e702';
@AppIcon-CirclePlus: '\e703';
@AppIcon-CircleGear: '\e704';
@AppIcon-CircleStar: '\e705';
@AppIcon-CircleFlash: '\e706';
@AppIcon-CircleActions: '\e706';

// /* ************************************************ */
// /* ******* PARTS ******* */
// /* ************************************************ */

// /* ******* WIDGETS ******* */

@AppIcon-PtWidget-Size: 90px;
@AppIcon-PtWidget-Names: default anchor column menu divider spacer zone workingarea content logo googlemap tabs search blogcontent blogcategories blogroll blogblock blogarchive blogcalendar image imagegallery slider videogallery forum forum_build comment twitter socialmedia socialmedia_rating socialmedia_share login registration memberdirectory memberwidget filegridlist filegridlistwidget webexmeetings events eventscalendar latestevents flickr languageswitcher d3;

@AppIcon-PtWidget-default: 0;
@AppIcon-PtWidget-anchor: 1;
@AppIcon-PtWidget-column: 2;
@AppIcon-PtWidget-menu: 3;
@AppIcon-PtWidget-divider: 4;
@AppIcon-PtWidget-spacer: 5;
@AppIcon-PtWidget-zone: 6;
@AppIcon-PtWidget-workingarea: 6;
@AppIcon-PtWidget-content: 7;
@AppIcon-PtWidget-logo: 8;
@AppIcon-PtWidget-googlemap: 9;
@AppIcon-PtWidget-tabs: 10;
@AppIcon-PtWidget-search: 11;
@AppIcon-PtWidget-blogcontent: 12;
@AppIcon-PtWidget-blogcategories: 13;
@AppIcon-PtWidget-blogroll: 14;
@AppIcon-PtWidget-blogblock: 15;
@AppIcon-PtWidget-blogarchive: 16;
@AppIcon-PtWidget-blogcalendar: 17;
@AppIcon-PtWidget-image: 18;
@AppIcon-PtWidget-imagegallery: 19;
@AppIcon-PtWidget-slider: 20;
@AppIcon-PtWidget-videogallery: 21;
@AppIcon-PtWidget-forum: 22;
@AppIcon-PtWidget-forum_build: 23;
@AppIcon-PtWidget-comment: 24;
@AppIcon-PtWidget-twitter: 25;
@AppIcon-PtWidget-socialmedia: 26;
@AppIcon-PtWidget-socialmedia_rating: 26;
@AppIcon-PtWidget-socialmedia_share: 26;
@AppIcon-PtWidget-login: 27;
@AppIcon-PtWidget-registration: 28;
@AppIcon-PtWidget-memberdirectory: 29;
@AppIcon-PtWidget-memberwidget: 30;
@AppIcon-PtWidget-filegridlist: 31;
@AppIcon-PtWidget-filegridlistwidget: 32;
@AppIcon-PtWidget-webexmeetings: 33;
@AppIcon-PtWidget-events: 34;
@AppIcon-PtWidget-eventscalendar: 35;
@AppIcon-PtWidget-latestevents: 36;
@AppIcon-PtWidget-flickr: 37;
@AppIcon-PtWidget-languageswitcher: 38;
@AppIcon-PtWidget-d3: 39;