
// /* ************************************************ */
// /* ******* FONT GLYPH ******* */
// /* ************************************************ */

@AppIconVars-Family: 'QuickSilk-Glyphs';
@AppIconVars-Color: @CmIconVars-Color;
@AppIconVars-Version: 18;

@AppIcon-Plus: '\e601';
@AppIcon-Gear: '\e602';
@AppIcon-Gears: '\e603';
@AppIcon-Pages: '\e604';
@AppIcon-Layouts: '\e605';
@AppIcon-Palette: '\e606';
@AppIcon-Templates: '\e606';

@AppIcon-CircleHelp: '\e701';
@AppIcon-CircleUser: '\e702';
@AppIcon-CirclePlus: '\e703';
@AppIcon-CircleGear: '\e704';
@AppIcon-CircleStar: '\e705';
@AppIcon-CircleFlash: '\e706';
@AppIcon-CircleActions: '\e706';