
// /* ************************************************ */
// /* ******* QUICKSILK: VARIABLES: ICONS ******* */
// /* ************************************************ */

// /* ******* FONT GLYPH ******* */

@AppIconVars-Family: 'QuickSilk-Glyphs';
@AppIconVars-Color: @CmIconVars-Color;
@AppIconVars-Version: @AppVersion;

@AppIcon-QuickSilk: '\e600';
@AppIcon-Plus: '\e601';
@AppIcon-Gear: '\e602';
@AppIcon-Gears: '\e603';
@AppIcon-Pages: '\e604';
@AppIcon-Layouts: '\e605';
@AppIcon-Palette: '\e606';
@AppIcon-Templates: '\e606';
@AppIcon-Form: '\e607';

@AppIcon-CircleHelp: '\e701';
@AppIcon-CircleUser: '\e702';
@AppIcon-CirclePlus: '\e703';
@AppIcon-CircleGear: '\e704';
@AppIcon-CircleStar: '\e705';
@AppIcon-CircleFlash: '\e706';
@AppIcon-CircleActions: '\e706';
@AppIcon-CircleNote: '\e707';
@AppIcon-CircleUndo: '\e708';
@AppIcon-CircleRedo: '\e709';

@AppIcon-Desktop: '\e900';
@AppIcon-Tablet: '\e901';
@AppIcon-Mobile: '\e902';

// /* ******* COMPONENTS ******* */

// /* *** BLOCK *** */

@AppIcon-Block-Size: 90px;
@AppIcon-Block-Indent: 24px;

// /* Column 1 */
@AppIcon-Block-Names-Column1: default zone workingarea column element_column divider element_divider spacer element_spacer menu dashboard mobile-menu tabs rollover-tabs sticky flip-cards structure-block spoiler;

@AppIcon-Block-default: 0;
@AppIcon-Block-zone: 1;
@AppIcon-Block-workingarea: 1;
@AppIcon-Block-column: 2;
@AppIcon-Block-element_column: 2;
@AppIcon-Block-divider: 3;
@AppIcon-Block-element_divider: 3;
@AppIcon-Block-spacer: 4;
@AppIcon-Block-element_spacer: 4;
@AppIcon-Block-menu: 5;
@AppIcon-Block-mobile-menu: 5;
@AppIcon-Block-dashboard: 5;
@AppIcon-Block-tabs: 6;
@AppIcon-Block-rollover-tabs: 7;
@AppIcon-Block-sticky: 8;
@AppIcon-Block-flip-cards: 9;
@AppIcon-Block-structure-block: 10;
@AppIcon-Block-spoiler: 11;

// /* Column 2 */
@AppIcon-Block-Names-Column2: search login registration content element_content anchor googlemap languageswitcher rss breadcrumb breadcrumbs form_builder;

@AppIcon-Block-search: 0;
@AppIcon-Block-login: 1;
@AppIcon-Block-registration: 2;
@AppIcon-Block-content: 3;
@AppIcon-Block-element_content: 3;
@AppIcon-Block-anchor: 4;
@AppIcon-Block-googlemap: 5;
@AppIcon-Block-languageswitcher: 6;
@AppIcon-Block-rss: 7;
@AppIcon-Block-breadcrumb: 8;
@AppIcon-Block-breadcrumbs: 8;
@AppIcon-Block-form_builder: 9;

// /* Column 3 */
@AppIcon-Block-Names-Column3: image imagegallery portfolio slider logocarousel videogallery logo;

@AppIcon-Block-image: 0;
@AppIcon-Block-imagegallery: 1;
@AppIcon-Block-portfolio: 1;
@AppIcon-Block-slider: 2;
@AppIcon-Block-logocarousel: 2;
@AppIcon-Block-videogallery: 3;
@AppIcon-Block-logo: 4;

// /* Column 4 */
@AppIcon-Block-Names-Column4: blogcontent blogcategories blogroll blogblock blogarchive blogcalendar blognavigation;

@AppIcon-Block-blogcontent: 0;
@AppIcon-Block-blogcategories: 1;
@AppIcon-Block-blogroll: 2;
@AppIcon-Block-blogblock: 3;
@AppIcon-Block-blogarchive: 4;
@AppIcon-Block-blogcalendar: 5;
@AppIcon-Block-blognavigation: 6;

// /* Column 5 */
@AppIcon-Block-Names-Column5: forum forum_build comment testimonials twitter socialmedia socialmedia_rating socialmedia_share social-aggregator memberdirectory memberwidget workinggroups faqmanager;

@AppIcon-Block-forum: 0;
@AppIcon-Block-forum_build: 1;
@AppIcon-Block-comment: 2;
@AppIcon-Block-testimonials: 2;
@AppIcon-Block-twitter: 3;
@AppIcon-Block-socialmedia: 4;
@AppIcon-Block-socialmedia_rating: 4;
@AppIcon-Block-socialmedia_share: 4;
@AppIcon-Block-social-aggregator: 4;
@AppIcon-Block-memberdirectory: 5;
@AppIcon-Block-memberwidget: 6;
@AppIcon-Block-workinggroups: 7;
@AppIcon-Block-faqmanager: 8;

// /* Column 6 */
@AppIcon-Block-Names-Column6: events latestevents eventscalendar bigcalendar eventscategories calendarfilter;

@AppIcon-Block-events: 0;
@AppIcon-Block-latestevents: 1;
@AppIcon-Block-eventscalendar: 2;
@AppIcon-Block-bigcalendar: 3;
@AppIcon-Block-eventscategories: 4;
@AppIcon-Block-calendarfilter: 5;

// /* Column 7 */
@AppIcon-Block-Names-Column7: filegridlist filegridlistwidget listing-widget directory listing-pins listing-filter directoryfilter viewsubmission ecommerce-cart shopify-cart ecommerce-orders ecommerce-directory shopify-products ecommerce-product shopify-product;

@AppIcon-Block-filegridlist: 0;
@AppIcon-Block-filegridlistwidget: 1;
@AppIcon-Block-listing-widget: 2;
@AppIcon-Block-directory: 2;
@AppIcon-Block-listing-pins: 3;
@AppIcon-Block-listing-filter: 4;
@AppIcon-Block-directoryfilter: 4;
@AppIcon-Block-viewsubmission: 5;
@AppIcon-Block-ecommerce-cart: 6;
@AppIcon-Block-shopify-cart: 6;
@AppIcon-Block-ecommerce-orders: 7;
@AppIcon-Block-ecommerce-directory: 8;
@AppIcon-Block-shopify-products: 8;
@AppIcon-Block-ecommerce-product: 9;
@AppIcon-Block-shopify-product: 9;

// /* Column 8 */
@AppIcon-Block-Names-Column8: button element_button element_input element_text element_password element_hidden element_select element_checkbox element_radiobutton element_multicheckbox element_timepicker element_datepicker;

@AppIcon-Block-button: 0;
@AppIcon-Block-element_button: 0;
@AppIcon-Block-element_input: 1;
@AppIcon-Block-element_text: 1;
@AppIcon-Block-element_password: 2;
@AppIcon-Block-element_hidden: 3;
@AppIcon-Block-element_select: 4;
@AppIcon-Block-element_checkbox: 5;
@AppIcon-Block-element_radiobutton: 6;
@AppIcon-Block-element_multicheckbox: 7;
@AppIcon-Block-element_timepicker: 8;
@AppIcon-Block-element_datepicker: 9;

// /* Column 9 */
@AppIcon-Block-Names-Column9: element_textarea element_wysiwyg element_captcha element_recaptcha element_imagebrowser element_fileuploader element_multifield element_wizard;

@AppIcon-Block-element_textarea: 0;
@AppIcon-Block-element_wysiwyg: 1;
@AppIcon-Block-element_captcha: 2;
@AppIcon-Block-element_recaptcha: 2;
@AppIcon-Block-element_imagebrowser: 3;
@AppIcon-Block-element_fileuploader: 3;
@AppIcon-Block-element_multifield: 4;
@AppIcon-Block-element_wizard: 5;

// /* Column 10 */
@AppIcon-Block-Names-Column10: d3 webexmeetings hubspot hubspot-blog hubspot-form klipfolio instagram flickr quicksilksignup-link quicksilksignup-product templatelist;

@AppIcon-Block-d3: 0;
@AppIcon-Block-webexmeetings: 1;
@AppIcon-Block-hubspot: 2;
@AppIcon-Block-hubspot-blog: 2;
@AppIcon-Block-hubspot-form: 2;
@AppIcon-Block-klipfolio: 3;
@AppIcon-Block-instagram: 4;
@AppIcon-Block-flickr: 5;
@AppIcon-Block-quicksilksignup-link: 6;
@AppIcon-Block-quicksilksignup-product: 6;
@AppIcon-Block-templatelist: 6;
