
// /* ************************************************ */
// /* ******* FONT GLYPH ******* */
// /* ************************************************ */

@AppIconVars-Family: 'QuickSilk-Glyphs';
@AppIconVars-Color: @CmIconVars-Color;
@AppIconVars-Version: 19;

@AppIcon-QuickSilk: '\e600';
@AppIcon-Plus: '\e601';
@AppIcon-Gear: '\e602';
@AppIcon-Gears: '\e603';
@AppIcon-Pages: '\e604';
@AppIcon-Layouts: '\e605';
@AppIcon-Palette: '\e606';
@AppIcon-Templates: '\e606';
@AppIcon-Form: '\e602';

@AppIcon-CircleHelp: '\e701';
@AppIcon-CircleUser: '\e702';
@AppIcon-CirclePlus: '\e703';
@AppIcon-CircleGear: '\e704';
@AppIcon-CircleStar: '\e705';
@AppIcon-CircleFlash: '\e706';
@AppIcon-CircleActions: '\e706';

// /* ************************************************ */
// /* ******* COMPONENTS ******* */
// /* ************************************************ */

// /* ******* BLOCK ******* */

@AppIcon-Block-Size: 90px;
@AppIcon-Block-Names: default anchor column menu divider spacer zone workingarea content logo googlemap tabs search blogcontent blogcategories blogroll blogblock blogarchive blogcalendar image imagegallery slider videogallery forum forum_build comment twitter socialmedia socialmedia_rating socialmedia_share login registration memberdirectory memberwidget filegridlist filegridlistwidget webexmeetings events eventscalendar latestevents flickr languageswitcher d3 rss breadcrumb breadcrumbs;

@AppIcon-Block-default: 0;
@AppIcon-Block-anchor: 1;
@AppIcon-Block-column: 2;
@AppIcon-Block-menu: 3;
@AppIcon-Block-divider: 4;
@AppIcon-Block-spacer: 5;
@AppIcon-Block-zone: 6;
@AppIcon-Block-workingarea: 6;
@AppIcon-Block-content: 7;
@AppIcon-Block-logo: 8;
@AppIcon-Block-googlemap: 9;
@AppIcon-Block-tabs: 10;
@AppIcon-Block-search: 11;
@AppIcon-Block-blogcontent: 12;
@AppIcon-Block-blogcategories: 13;
@AppIcon-Block-blogroll: 14;
@AppIcon-Block-blogblock: 15;
@AppIcon-Block-blogarchive: 16;
@AppIcon-Block-blogcalendar: 17;
@AppIcon-Block-image: 18;
@AppIcon-Block-imagegallery: 19;
@AppIcon-Block-slider: 20;
@AppIcon-Block-videogallery: 21;
@AppIcon-Block-forum: 22;
@AppIcon-Block-forum_build: 23;
@AppIcon-Block-comment: 24;
@AppIcon-Block-twitter: 25;
@AppIcon-Block-socialmedia: 26;
@AppIcon-Block-socialmedia_rating: 26;
@AppIcon-Block-socialmedia_share: 26;
@AppIcon-Block-login: 27;
@AppIcon-Block-registration: 28;
@AppIcon-Block-memberdirectory: 29;
@AppIcon-Block-memberwidget: 30;
@AppIcon-Block-filegridlist: 31;
@AppIcon-Block-filegridlistwidget: 32;
@AppIcon-Block-webexmeetings: 33;
@AppIcon-Block-events: 34;
@AppIcon-Block-eventscalendar: 35;
@AppIcon-Block-latestevents: 36;
@AppIcon-Block-flickr: 37;
@AppIcon-Block-languageswitcher: 38;
@AppIcon-Block-d3: 39;
@AppIcon-Block-rss: 40;
@AppIcon-Block-breadcrumb: 41;
@AppIcon-Block-breadcrumbs: 41;