
// /* ************************************************ */
// /* ******* VARIABLES ******* */
// /* ************************************************ */

@AppVersion: '@@VERSION';

// /* ******* PATH ******* */

@AppPath-Images: '../img';
@AppPath-Fonts: '../fonts';

// /* ******* UI ******* */

@AppUI-SidebarWidth: 360px;
@AppUI-TitleHeight: @CmSize-XLarge;

// /* ************************************************ */
// /* ******* FONT ******* */
// /* ************************************************ */

@AppFont-Admin-Family: Quicksand, sans-serif;

@AppFont-Default-Family: Quicksand, sans-serif;
@AppFont-Default-LineHeight: 18px;
@AppFont-Default-Size: 13px;
@AppFont-Default-Weight: 400;
@AppFont-Default-Color: #666666;

@AppFont-H1-Family: Quicksand, sans-serif;
@AppFont-H1-LineHeight: 64px;
@AppFont-H1-Size: 48px;
@AppFont-H1-Weight: 100;
@AppFont-H1-Color: #666666;
@AppFont-H1-Decoration: none;
@AppFont-H1-Style: normal;

@AppFont-H2-Family: Quicksand, sans-serif;
@AppFont-H2-LineHeight: 42px;
@AppFont-H2-Size: 32px;
@AppFont-H2-Weight: 400;
@AppFont-H2-Color: #666666;
@AppFont-H2-Decoration: none;
@AppFont-H2-Style: normal;

@AppFont-H3-Family: Quicksand, sans-serif;
@AppFont-H3-LineHeight: 32px;
@AppFont-H3-Size: 24px;
@AppFont-H3-Weight: 400;
@AppFont-H3-Color: #666666;
@AppFont-H3-Decoration: none;
@AppFont-H3-Style: normal;

@AppFont-H4-Family: Quicksand, sans-serif;
@AppFont-H4-LineHeight: 24px;
@AppFont-H4-Size: 18px;
@AppFont-H4-Weight: 400;
@AppFont-H4-Color: #666666;
@AppFont-H4-Decoration: none;
@AppFont-H4-Style: normal;

@AppFont-H5-Family: Quicksand, sans-serif;
@AppFont-H5-LineHeight: 24px;
@AppFont-H5-Size: 16px;
@AppFont-H5-Weight: 400;
@AppFont-H5-Color: #666666;
@AppFont-H5-Decoration: none;
@AppFont-H5-Style: normal;

@AppFont-H6-Family: Quicksand, sans-serif;
@AppFont-H6-LineHeight: 18px;
@AppFont-H6-Size: 12px;
@AppFont-H6-Weight: 600;
@AppFont-H6-Color: #666666;
@AppFont-H6-Decoration: none;
@AppFont-H6-Style: normal;

@AppFont-P-Family: Quicksand, sans-serif;
@AppFont-P-LineHeight: 18px;
@AppFont-P-Size: 13px;
@AppFont-P-Weight: 400;
@AppFont-P-Color: #666666;
@AppFont-P-Decoration: none;
@AppFont-P-Style: normal;

@AppFont-A-Weight: 400;
@AppFont-A-Color: #1d73c9;
@AppFont-A-Decoration: underline;
@AppFont-A-Style: normal;

@AppFont-AHover-Weight: 400;
@AppFont-AHover-Color: #1d73c9;
@AppFont-AHover-Decoration: underline;
@AppFont-AHover-Style: normal;

@AppFont-AActive-Weight: 400;
@AppFont-AActive-Color: #1d73c9;
@AppFont-AActive-Decoration: underline;
@AppFont-AActive-Style: normal;

@AppFont-Button-Family: Open Sans, sans-serif;
@AppFont-Button-Size: 13px;
@AppFont-Button-Weight: 400;
@AppFont-Button-Color: #ffffff;
@AppFont-Button-Decoration: none;
@AppFont-Button-Style: normal;

// /* ************************************************ */
// /* ******* COMMON ******* */
// /* ************************************************ */

// /* ******* COLORS ******* */

@AppColor-QuickSilk: #21b573;
@AppColor-UI-Panel: #1f2630;
@AppColor-UI-PanelBlock: @CmColor-Primary-DarkActiveHover;

// /* ******* AREA ******* */

@AppUI-Zone-Width: @CmIndent-XLarge;
@AppUI-Zone-Height: @CmIndent-XLarge;
@AppUI-Zone-ContentHeight: 256px;

// /* ************************************************ */
// /* ******* PARTS ******* */
// /* ************************************************ */

// /* ******* BOX ******* */

@AppPT-BoxLogin-Width: 350px;

// /* ******* LATEST POSTS ******* */

@AppPT-LatestPosts-ImageSize: 70;
@AppPT-LatestPosts-DescrLines: 1;

// /* ******* PLAN ******* */

@AppPT-Plan-Indent: @CmIndent-Medium;

// /* ************************************************ */
// /* ******* LAYOUTS ******* */
// /* ************************************************ */

// /* ******* TEMPLATES ******* */

@AppLT-Templates-Item-Padding: @CmIndent-XSmall;

// /* ************************************************ */
// /* ******* COMPONENTS ******* */
// /* ************************************************ */

// /* ******* TOP MENU ******* */

@AppTopMenu-Height: @CmSize-XLarge;
@AppTopMenu-Duration: 300ms;
@AppTopMenu-Background: @AppColor-UI-Panel;
@AppTopMenu-Color: @CmColor-Font-Opposite;
@AppTopMenu-ColorHover: @CmColor-Font-Opposite;
@AppTopMenu-ColorActive: @AppTopMenu-Background;
@AppTopMenu-HoverBackground: @CmColor-Primary-DarkDefault;
@AppTopMenu-ItemIndent: 1px;
@AppTopMenu-ItemBorder: @CmBorder-Width solid rgba(255,255,255,0.4);
@AppTopMenu-ItemBackground: rgba(255,255,255,0.2);
@AppTopMenu-Dropdown-FirstLevel: true;

// /* ******* SIDEBAR ******* */

@AppSidebar-Width: @AppUI-SidebarWidth;
@AppSidebar-Menu-Width: @CmSize-XLarge;
@AppSidebar-Menu-Background: @AppColor-UI-Panel;
@AppSidebar-Content-Width: @AppSidebar-Width - @AppSidebar-Menu-Width;
@AppSidebar-Content-Indent: @CmIndent-XSmall;
@AppSidebar-Title-Height: @AppUI-TitleHeight;
@AppSidebar-WidthExpanded: @AppSidebar-Width;
@AppSidebar-WidthCollapsed: @AppSidebar-Menu-Width;
@AppSidebar-Duration: @CmUI-Transition-DurationLong;
@AppSidebar-Overlay: @CmUI-Overlay;

@AppSidebar-Theme: 'Dark';
@AppSidebar-ThemeDark-Color: @CmColor-Font-Opposite;
@AppSidebar-ThemeDark-Background: @CmColor-Primary-DarkDefault;
@AppSidebar-ThemeLight-Color: @CmColor-Font;
@AppSidebar-ThemeLight-Background: #ffffff;

// /* ******* NOTIFICATION ******* */

@AppNotification-Height: @AppTopMenu-Height;
@AppNotification-Fade: 95%;

// /* ******* ZONE ******* */

@AppZone-MinHeight: @CmIndent-Medium;
@AppZone-Padding: @CmIndent-Small;
@AppZone-BorderRadius: @CmBorder-Radius;

@AppZone-Active-Background: hsla(@CmColor-Primary, @CmColor-Primary-DarkSaturation, 55%, 0.12);
@AppZone-Active-BorderColor: @CmColor-Primary-DarkDefault;
@AppZone-Active-Border: 1px dashed @AppZone-Active-BorderColor;
@AppZone-Highlight-Background: hsla(@CmColor-Primary, @CmColor-Primary-DarkSaturation, 55%, 0.05);
@AppZone-Highlight-BorderColor: fade(@CmColor-Primary-DarkDefault, 30%);
@AppZone-Highlight-Border: 1px dashed @AppZone-Highlight-BorderColor;

// /* ******* BLOCK ******* */

@AppBlock-Indent: @CmIndent-Medium;

@AppBlock-Loader-Background: @CmColor-Secondary-LightHover;
@AppBlock-Loader-Border: @CmBorder-Default;
@AppBlock-Loader-BorderRadius: @CmBorder-Radius;

@AppBlock-Category-Background: transparent;

@AppBlock-Dummy-Theme: @AppSidebar-Theme;
@AppBlock-Dummy-Width: 94px;
@AppBlock-Dummy-Padding: 2px;
@AppBlock-Dummy-BorderRadius: @CmBorder-Radius;
@AppBlock-Dummy-IconBorderRadius: 0px;
@AppBlock-Dummy-IconSize: 90px;

@AppBlock-Dummy-ThemeDark-ColorNormal: @CmColor-Font-Opposite;
@AppBlock-Dummy-ThemeDark-ColorHover: @CmColor-Font-Opposite;
@AppBlock-Dummy-ThemeDark-ColorActive: @CmColor-Font;
@AppBlock-Dummy-ThemeDark-BackgroundNormal: trannsparent;
@AppBlock-Dummy-ThemeDark-BackgroundHover: trannsparent;
@AppBlock-Dummy-ThemeDark-BackgroundActive: @CmColor-Background;
@AppBlock-Dummy-ThemeDark-IconBackgroundNormal: rgba(255, 255, 255, 0.2);
@AppBlock-Dummy-ThemeDark-IconBackgroundHover: rgba(255, 255, 255, 0.5);
@AppBlock-Dummy-ThemeDark-IconBackgroundActive: @CmColor-Primary-DarkDefault;

@AppBlock-Dummy-ThemeLight-ColorNormal: @CmColor-Font;
@AppBlock-Dummy-ThemeLight-ColorHover: @CmColor-Font;
@AppBlock-Dummy-ThemeLight-ColorActive: @CmColor-Font;
@AppBlock-Dummy-ThemeLight-BackgroundNormal: trannsparent;
@AppBlock-Dummy-ThemeLight-BackgroundHover: trannsparent;
@AppBlock-Dummy-ThemeLight-BackgroundActive: @CmColor-Background;
@AppBlock-Dummy-ThemeLight-IconBackgroundNormal: @CmColor-Secondary-LightHover;
@AppBlock-Dummy-ThemeLight-IconBackgroundHover: @CmColor-Primary-LightActive;
@AppBlock-Dummy-ThemeLight-IconBackgroundActive: @CmColor-Primary-LightActive;

// /* ******* DASHBOARD ******* */

@AppDashboard-DropDuration: @PtDnD-DropDuration;
@AppDashboard-MoveDuration: @PtDnD-MoveDuration;

@AppDashboard-Placeholder-Indent: @CmIndent-Medium;

// /* ******* HELP TOUR ******* */

@AppHelpTour-Duration: @CmUI-Transition-DurationLong;
@AppHelpTour-AdaptiveFrom: @CmUI-AdaptiveFrom;
@AppHelpTour-Popup-Width: 360px;
@AppHelpTour-Popup-Background: @CmColor-Background;
@AppHelpTour-Popup-ArrowSize: @CmSize-Medium;

// /* ******* PANEL ******* */

@AppPanel-Duration: @CmUI-Transition-DurationLong;

@AppPanel-Dialog-Width: @AppUI-SidebarWidth;
@AppPanel-Dialog-Background: @CmColor-Primary-DarkDefault;
@AppPanel-Dialog-Indent: @CmIndent-XSmall;
@AppPanel-Dialog-TitleHeight: @AppUI-TitleHeight;
@AppPanel-Dialog-TitleBackground: @AppPanel-Dialog-Background;
@AppPanel-Dialog-ContentBackground: @CmColor-Background;
@AppPanel-Dialog-ButtonHeight: @CmForm-FieldHeight;
@AppPanel-Dialog-ButtonsHeight: @AppPanel-Dialog-ButtonHeight + (@AppPanel-Dialog-Indent * 2);
@AppPanel-Dialog-ButtonsBackground: @CmColor-Secondary-LightActive;

@AppPanel-Preview-Indent: @AppPanel-Dialog-Indent;
@AppPanel-Preview-Border: @CmBorder-Default;
@AppPanel-Preview-TitleHeight: @AppPanel-Dialog-TitleHeight;
@AppPanel-Preview-TitleBackground: @CmColor-Secondary-LightActive;
@AppPanel-Preview-ContentBackground: @CmColor-Background;
@AppPanel-Preview-ContentIndent: @CmIndent-XLarge;

@AppPanel-Box-Indent: @CmIndent-Medium @AppPanel-Dialog-Indent;

// /* ******* LIVE PREVIEW ******* */

@AppLivePreview-Device-Duration: @CmUI-Transition-DurationLong;

@AppLivePreview-Tablet-Width: 1024px;
@AppLivePreview-Tablet-Height: 640px;
@AppLivePreview-Tablet-Indent: @CmIndent-Medium;
@AppLivePreview-Tablet-BorderY: @CmSize-XLarge;
@AppLivePreview-Tablet-BorderX: @CmSize-XLarge;
@AppLivePreview-Tablet-Border: @AppLivePreview-Tablet-BorderY @AppLivePreview-Tablet-BorderX;
@AppLivePreview-Tablet-BorderRadius: 16px;
@AppLivePreview-Tablet-BorderColor: #262626;
@AppLivePreview-Tablet-ScreenRadius: 3px;

@AppLivePreview-Mobile-Width: 320px;
@AppLivePreview-Mobile-Height: 568px;
@AppLivePreview-Mobile-Indent: @CmIndent-Medium;
@AppLivePreview-Mobile-BorderY: @CmSize-XLarge;
@AppLivePreview-Mobile-BorderX: @CmIndent-XSmall;
@AppLivePreview-Mobile-Border: @AppLivePreview-Mobile-BorderY @AppLivePreview-Mobile-BorderX;
@AppLivePreview-Mobile-BorderRadius: 16px;
@AppLivePreview-Mobile-BorderColor: #262626;
@AppLivePreview-Mobile-ScreenRadius: 3px;

// /* ************************************************ */
// /* ******* MODULES ******* */
// /* ************************************************ */

// /* ******* KNOWLEDGE CENTRE ******* */

@AppMod-KnowledgeCentre-Title-MinWidth: 170px;

// /* ******* SITEMAP ******* */

@AppMod-Sitemap-FontSize: @CmFont-Base-Hint-Size;
@AppMod-Sitemap-Color: @CmFont-Base-Color;
@AppMod-Sitemap-Title-Color: @AppMod-Sitemap-Color;
@AppMod-Sitemap-IndentY: @CmIndent-Medium;

// /* ******* BLOG WIDGET ******* */

@AppMod-BlogWidget-ImageSize: @AppPT-LatestPosts-ImageSize;
@AppMod-BlogWidget-DescrLines: @AppPT-LatestPosts-DescrLines;

// /* ******* FORUM WIDGET ******* */

@AppMod-ForumWidget-ImageSize: @AppPT-LatestPosts-ImageSize;
@AppMod-ForumWidget-DescrLines: @AppPT-LatestPosts-DescrLines;

// /* ******* MENU ******* */

@AppMod-Menu-Default-Indent: @CmIndent-XSmall;
@AppMod-Menu-Default-SelectSize: @CmForm-FieldHeight;
@AppMod-Menu-Default-SelectColor: @CmColor-Font;
@AppMod-Menu-Default-SelectBackground: @CmColor-Secondary-LightHover;
@AppMod-Menu-Default-SeparatorWidth: 1px;
@AppMod-Menu-Default-SeparatorHeight: @CmSize-XSmall;
@AppMod-Menu-Default-SeparatorBackground: @CmColor-Border;

@AppMod-Menu-Primary-Indent: @AppMod-Menu-Default-Indent;
@AppMod-Menu-Primary-SelectSize: @AppMod-Menu-Default-SelectSize;
@AppMod-Menu-Primary-SelectColor: @AppMod-Menu-Default-SelectColor;
@AppMod-Menu-Primary-SelectBackground: @AppMod-Menu-Default-SelectBackground;
@AppMod-Menu-Primary-SeparatorWidth: @AppMod-Menu-Default-SeparatorWidth;
@AppMod-Menu-Primary-SeparatorHeight: @AppMod-Menu-Default-SeparatorHeight;
@AppMod-Menu-Primary-SeparatorBackground: @AppMod-Menu-Default-SeparatorBackground;

@AppMod-Menu-Secondary-Indent: @AppMod-Menu-Default-Indent;
@AppMod-Menu-Secondary-SelectSize: @AppMod-Menu-Default-SelectSize;
@AppMod-Menu-Secondary-SelectColor: @AppMod-Menu-Default-SelectColor;
@AppMod-Menu-Secondary-SelectBackground: @AppMod-Menu-Default-SelectBackground;
@AppMod-Menu-Secondary-SeparatorWidth: @AppMod-Menu-Default-SeparatorWidth;
@AppMod-Menu-Secondary-SeparatorHeight: @AppMod-Menu-Default-SeparatorHeight;
@AppMod-Menu-Secondary-SeparatorBackground: @AppMod-Menu-Default-SeparatorBackground;

@AppMod-Menu-Vertical-Indent: @AppMod-Menu-Default-Indent;
@AppMod-Menu-Vertical-ChildIndent: @CmIndent-Medium;

// /* ******* HIDDEN TABS ******* */

@AppMod-RolloverTabs-AdaptiveFrom: @CmUI-AdaptiveFrom;
@AppMod-RolloverTabs-BorderRadius: @CmBorder-Radius;
@AppMod-RolloverTabs-BorderWidth: @CmBorder-Width;
@AppMod-RolloverTabs-Border: @AppMod-RolloverTabs-BorderWidth solid transparent;
@AppMod-RolloverTabs-Duration: @CmUI-Transition-Duration;
@AppMod-RolloverTabs-Theme: 'Light';

@AppMod-RolloverTabs-Label-Height: @CmForm-FieldHeight;
@AppMod-RolloverTabs-Label-Indent: @CmIndent-XXXSmall;
@AppMod-RolloverTabs-Label-InnerIndent: @CmIndent-XSmall;
@AppMod-RolloverTabs-Label-TitleIndent: @CmIndent-XXSmall;
@AppMod-RolloverTabs-Image-Size: @CmSize-Medium;
@AppMod-RolloverTabs-Menu-Height: @CmForm-FieldHeight;
@AppMod-RolloverTabs-Menu-Indent: @CmIndent-XSmall;
@AppMod-RolloverTabs-Content-Indent: 4px;

@AppMod-RolloverTabs-ThemeLight-BorderColor: @CmColor-Border;
@AppMod-RolloverTabs-ThemeLight-Label-DefaultBackground: @CmColor-Secondary-LightActive;
@AppMod-RolloverTabs-ThemeLight-Label-HoverBackground: @CmColor-Secondary-LightHover;
@AppMod-RolloverTabs-ThemeLight-Label-ActiveBackground: @CmColor-Background;
@AppMod-RolloverTabs-ThemeLight-Menu-Background: @CmColor-Background;
@AppMod-RolloverTabs-ThemeLight-Content-Background: @CmColor-Background;

// /* ******* WIZARD ******* */

@AppMod-Wizard-AdaptiveFrom: @CmUI-AdaptiveFrom;
@AppMod-Wizard-BorderRadius: @CmBorder-Radius;
@AppMod-Wizard-BorderWidth: @CmBorder-Width;
@AppMod-Wizard-Border: @AppMod-Wizard-BorderWidth solid transparent;
@AppMod-Wizard-Duration: @CmUI-Transition-Duration;
@AppMod-Wizard-Theme: 'Light';

@AppMod-Wizard-Label-Height: @CmForm-FieldHeight;
@AppMod-Wizard-Label-Indent: @CmIndent-XXXSmall;
@AppMod-Wizard-Label-InnerIndent: @CmIndent-XSmall;
@AppMod-Wizard-Label-TitleIndent: @CmIndent-XXSmall;
@AppMod-Wizard-Image-Size: @CmSize-Medium;
@AppMod-Wizard-Menu-Height: @CmForm-FieldHeight;
@AppMod-Wizard-Menu-Indent: @CmIndent-XSmall;
@AppMod-Wizard-Content-Indent: 4px;
@AppMod-Wizard-Content-Padding: @CmIndent-Medium;

@AppMod-Wizard-ThemeLight-BorderColor: @CmColor-Border;
@AppMod-Wizard-ThemeLight-Label-DefaultBackground: @CmColor-Secondary-LightActive;
@AppMod-Wizard-ThemeLight-Label-HoverBackground: @CmColor-Secondary-LightHover;
@AppMod-Wizard-ThemeLight-Label-ActiveBackground: @CmColor-Background;
@AppMod-Wizard-ThemeLight-Menu-Background: @CmColor-Background;
@AppMod-Wizard-ThemeLight-Content-Background: @CmColor-Background;

// /* ******* BUTTON ******* */

@ModButton-LabelIndent: @CmIndent-XXSmall;
@ModButton-ImageSize: @CmSize-Medium;

// /* ******* SIGNUP ******* */

@ModSignup-Separator-Size: @CmSize-Large;
@ModSignup-Separator-Border: @CmBorder-Default;
@ModSignup-Separator-Indent: @CmIndent-Medium;

// /* ************************************************ */
// /* ******* PAGES ******* */
// /* ************************************************ */

// /* ************************************************ */
// /* ******* TEMPLATE ******* */
// /* ************************************************ */

@AppTpl-Container-Size: box;        // wide | box
@AppTpl-Container-Width: 1000px;
@AppTpl-Container-Align: center;
@AppTpl-Container-Indent: @CmIndent-Medium;
@AppTpl-Container-BackgroundColor: transparent;
@AppTpl-Container-BackgroundImage: none;
@AppTpl-Container-BackgroundPosition: center center;
@AppTpl-Container-BackgroundRepeat: no-repeat;
@AppTpl-Container-BackgroundSize: auto;
@AppTpl-Container-BackgroundParallax: scroll;
@AppTpl-Container-Background: @AppTpl-Container-BackgroundColor @AppTpl-Container-BackgroundImage @AppTpl-Container-BackgroundRepeat @AppTpl-Container-BackgroundPosition @AppTpl-Container-BackgroundParallax;

@AppTpl-Content-EditableIndent: @CmIndent-Medium;

// /* ************************************************ */
// /* ******* ADDITIONAL STUFF ******* */
// /* ************************************************ */

@Stuff-CKE-Color: #474747;

// /* ************************************************ */
// /* ******* MAGPIE UI ******* */
// /* ************************************************ */

// /* ******* COMMON ******* */

// /* *** UI *** */

@CmUI-GoogleFont: Quicksand;
@CmUI-GoogleFont-Weight: 300,400,500,700;

// /* *** FONT *** */

@CmColor-Font: @AppFont-P-Color;
@CmColor-Font-Link: @AppFont-A-Color;

@CmFont-Base-Family: @AppFont-P-Family;
@CmFont-Base-LineHeight: @AppFont-P-LineHeight;
@CmFont-Base-Size: @AppFont-P-Size;
@CmFont-Base-Weight: @AppFont-P-Weight;

@CmFont-UI-Family: @AppFont-Admin-Family;

// /* ******* COMPONENTS ******* */

@ComImageInput-CoverDelay: @CmUI-Transition-Delay-Hide;