/* ******* PART: ADMIN DESCRIPTION ******* */

.app-admin-description {
    margin: 0 0 @Cm-indentMedium;

    &.bottom {
        margin: 0;
    }

    .app-module {
        margin: 0;
    }

    .cm-editable {
        &:last-child {
            margin: 0;
        }

        .cm-content-tags {
            margin: 0;
        }
    }
}