/* ******* PART: ADMIN DESCRIPTION ******* */

.app-admin-description {
    margin: 0 0 @CmIndent-Medium;

    &.bottom {
        margin: 0;
    }

    .app-module {
        margin: 0;
    }

    .pt__editable {
        &:last-child {
            margin: 0;
        }

        .cm__tags {
            margin: 0;
        }
    }
}