/* ******* PART: UI ******* */

/* *** MODULES / PAGES *** */

.app-page,
.app-module {
    margin: 0 0 @CmIndent-Medium;

    &.bottom {
        margin: 0;
    }
}

.app-page-title {
    margin: 0 0 @CmIndent-Medium;
}

.app-module-default:extend(.app-module all),
.app-page-default:extend(.app-module all) {}

/* *** AREAS *** */

.app-main-area:extend(.clear all) {
    min-height: 500px;
}

.app-footer-area,
.app-header-area {
    min-width: 200px;
    min-height: @CmIndent-Medium * 2;
    padding: 0;
    position: absolute;
    z-index: 1;

    &.main {
        min-width: 0;
        position: relative;
    }

    &:hover {
        z-index: 100 !important;
    }

    .app-module {
        margin: 0;
    }
}

/* *** WRAPPERS *** */

.app-template {
    min-height: 100%;
    position: relative;
}

html {
    &.is-app-topmenu {
        .app-template {
            margin-top: @AppLT-TopMenu-Height;
        }

        .app-sidebar {
            top: @AppLT-TopMenu-Height;
        }

        &.is-app-topmenu--expanded {
            overflow: hidden;
        }
    }

    &.is-app-sidebar {
        .app-template {
            margin-left: @AppLT-Sidebar-width;
            .mx__transition(margin, @AppLT-Sidebar-duration);
        }

        &.is-app-sidebar--collapsed {
            .app-template {
                margin-left: @AppLT-Sidebar-widthCollapsed;
            }
        }
    }

    &.is-app-sidebar--collapsed,
    &:not(.is-app-sidebar--expanded):not(.is-app-sidebar--collapsed) {
        .app-footer-area,
        .app-header-area,
        .app-main-area {
            min-height: 0;
        }

        .app-module {
            &:last-child {
                margin: 0;
            }
        }

        .pt__dnd-area {
            min-height: 0;
            padding: 0;
        }

        .app-widget-container {
            &:last-child {
                margin: 0;
            }
        }
    }

    &.is-immediately {
        .app-template {
            .cm__transition-none;
        }
    }
}

/* ******* PART: UI: ADAPTIVE ******* */

@media only screen and (max-width : @CmScreen-Tablet) {

    html.is-adaptive {
        &.is-app-sidebar {
            .app-template {
                margin-left: @AppLT-Sidebar-widthTablet;
            }

            &.is-app-sidebar--collapsed {
                .app-template {
                    margin-left: @AppLT-Sidebar-widthCollapsed;
                }
            }
        }
    }

}

@media only screen and (max-width : @CmScreen-MobilePortrait) {

    html.is-adaptive {
        &.is-app-sidebar {
            .app-template {
                margin-left: 0;
            }

            &.is-app-sidebar--collapsed {
                .app-template {
                    margin-left: 0;
                }
            }
        }
    }

}

/* *** PARTS: UI: PRINT *** */

@media print {

    .app-template {
        margin: 0 !important;
    }

}