/* ******* PARTS: WIDGET ******* */

.app-pt__widget-container {
    position: relative;
    z-index: 1;
    margin: 0 0 @AppPT-Widget-Indent;
    .mx__transition(z-index, @CmUI-Transition-Duration);

    // /* Widget */

    > .app-pt__widget {
        .pt__editable__bundle > .normal;
        margin: 0;
        .mx__transition(opacity, @CmUI-Transition-Duration);

        .app-pt__widget__controls {
            display: none;
        }

        &.is-hidden {
            display: none;
        }

        &.is-visible {
            display: block;
        }

        &.is-editable {
            .pt__editable__bundle > .editable;

            .app-pt__widget__controls {
                display: block;
            }
        }

        &.is-hide {
            .cm__transition-none;
            overflow: hidden;
            opacity: 0;
        }

        &.is-locked {
        }
    }

    // /* Module */

    .app__module {
        margin: 0;
    }

    // /* Dummy */

    > .app-pt__widget-dummy {
        position: relative;
        border-radius: @AppPT-WidgetDummy-BorderRadius;
        cursor: move;
        .mx__user-select(none);
        .mx__transition(background-color box-shadow, @CmUI-Transition-Duration);

        > .inner {
            padding: @AppPT-WidgetDummy-Padding;
        }

        .icon {
            width: @AppPT-WidgetDummy-IconSize;
            height: @AppPT-WidgetDummy-IconSize;
            margin: 0 auto;
            border-radius: @AppPT-WidgetDummy-IconBorderRadius;
            .mx__transition(background-color, @CmUI-Transition-Duration);

            img {
                width: 100%;
                height: 100%;
                display: block;
            }
        }

        .caption {
            .cm__font--small;
            padding: 4px 0;
            overflow: hidden;
            text-align: center;
            line-height: 15px;
            .mx__transition(color, @CmUI-Transition-Duration);
        }

        .pt__box-loader {
            background: @AppPT-WidgetLoader-Background;
            border: @AppPT-WidgetLoader-Border;
            border-radius: @AppPT-WidgetLoader-BorderRadius;
            opacity: 0;
            .mx__transition(opacity, @CmUI-Transition-Duration);

            &.fadein {
                opacity: 1;
            }
        }

        &.is-hide {
            overflow: hidden;
        }
    }

    &:hover {
        z-index: 10;
        .mx__transition(z-index, @CmUI-Transition-DurationReverse);

        > .app-pt__widget.is-editable {
            .pt__editable__bundle > .hover;
        }

        > .app-pt__widget-dummy {
            .icon {
                .mx__transition(background-color, @CmUI-Transition-DurationReverse);
            }
        }
    }

    &.is-active {
        z-index: 10;
        .mx__transition(z-index, @CmUI-Transition-DurationReverse);

        > .app-pt__widget.is-editable {
            .pt__editable__bundle > .hover;
            .pt__editable__bundle > .active;
            opacity: 0.7;
            .mx__transition(opacity, @CmUI-Transition-DurationReverse);
        }

        > .app-pt__widget-dummy {
            box-shadow: 0 1px 5px rgba(0,0,0,0.2);
            .mx__transition(background-color box-shadow, @CmUI-Transition-DurationReverse);

            .icon {
                .mx__transition(background-color, @CmUI-Transition-DurationReverse);
            }
        }
    }

    &.pt__dnd-helper {
        .pt__dnd-helper;
    }

    &.is-hidden {
        display: none;
    }

    &.is-hide {
        overflow: hidden;
    }
}

/* *** WIDGET CATEGORY *** */

.app-pt__widgets-category {
    margin: 0 0 @CmIndent-XSmall;

    &:last-child {
        margin: 0;
    }

    > dd {
        margin: 0 -@AppPT-WidgetDummy-Padding;
        font-size: 0;
    }

    .app-pt__widget-container {
        width: @AppPT-WidgetDummy-Width;
        margin: 0 !important;
        display: inline-block;
        vertical-align: top;
    }
}

// /* *** MIXINS **** */

.app-pt__widget-dummy__theme (@theme) {
    .app-pt__widget-dummy__background(~"@{AppPT-WidgetDummy-Theme@{theme}-BackgroundNormal}", ~"@{AppPT-WidgetDummy-Theme@{theme}-BackgroundHover}", ~"@{AppPT-WidgetDummy-Theme@{theme}-BackgroundActive}");
    .app-pt__widget-dummy__icon-background(~"@{AppPT-WidgetDummy-Theme@{theme}-IconBackgroundNormal}", ~"@{AppPT-WidgetDummy-Theme@{theme}-IconBackgroundHover}", ~"@{AppPT-WidgetDummy-Theme@{theme}-IconBackgroundActive}");
    .app-pt__widget-dummy__icons(@theme);
    .app-pt__widget-dummy__caption-color(~"@{AppPT-WidgetDummy-Theme@{theme}-ColorNormal}", ~"@{AppPT-WidgetDummy-Theme@{theme}-ColorHover}", ~"@{AppPT-WidgetDummy-Theme@{theme}-ColorActive}");
}

.app-pt__widget-dummy__background (@normal, @hover, @active){
    .app-pt__widget-container {
        > .app-pt__widget-dummy {
            background-color: @normal;
        }

        &:hover {
            > .app-pt__widget-dummy {
                background-color: @hover;
            }
        }

        &.is-active {
            > .app-pt__widget-dummy {
                background-color: @active;
            }
        }
    }
}

.app-pt__widget-dummy__icons (@theme) {
    .app-pt__widget-dummy {
        .icon {
            background-image: url("@{AppPath-Images}/parts/widget/@{theme}/default.png");

            .for(blogcontent blogblock blogcalendar blogarchive blogcategories blogroll comment events latestevents eventscalendar filegridlist filegridlistwidget forum forum_build googlemapblock imagegallery memberdirectory memberwidget slider socialmedia socialmedia_share socialmedia_rating twitter videogallery content menu search logo zone workingarea column divider spacer image registration login); .-each(@name) {
                &.module-@{name} {
                    background-image: url("@{AppPath-Images}/parts/widget/@{theme}/@{name}.png");
                }
            }
        }
    }
}

.app-pt__widget-dummy__icon-background (@normal, @hover, @active) {
    .app-pt__widget-container {
        > .app-pt__widget-dummy {
            .icon {
                background-color: @normal;
            }
        }

        &:hover {
            > .app-pt__widget-dummy {
                .icon {
                    background-color: @hover;
                }
            }
        }

        &.is-active {
            > .app-pt__widget-dummy {
                .icon {
                    background-color: @active;
                }
            }
        }
    }
}

.app-pt__widget-dummy__caption-color (@normal, @hover, @active) {
    .app-pt__widget-container {
        > .app-pt__widget-dummy {
            .caption {
                color: @normal;
            }
        }

        &:hover {
            > .app-pt__widget-dummy {
                .caption {
                    color: @hover;
                }
            }
        }

        &.is-active {
            > .app-pt__widget-dummy {
                .caption {
                    color: @active;
                }
            }
        }
    }
}

.app-pt__widgets-category__background (@color){
    .app-pt__widgets-category {
        > dd {
            background-color: @color;
        }
    }
}

.app-pt__widget-dummy__theme(@AppPT-WidgetDummy-Theme);
.app-pt__widgets-category__background(@AppPT-WidgetCategory-Background);