/* ******* MODULES: BLOG WIDGET ******* */

.app-mod__blog-widget {
    &.is-vertical {
        .blog-widget__item {
            .pt__box-item.is-wrap;
            .pt__box-item__size(@AppMod-BlogWidget-ImageSize);

            .pt__image {
                .pt__image.is-centered;
            }

            .descr {
                .app-mod__blog-widget__descr-lines(@AppMod-BlogWidget-Vertical-DescrLines);
            }
        }
    }

    &.is-horizontal {
        .blog-widget__grid {
            .pt__grid.is-flexible;
        }

        .blog-widget__item {
            .pt__box-item.is-wrap;
            .pt__box-item.is-image-top;

            .pt__image {
                .pt__image.pull-center;
                .pt__image.is-adaptive;
            }

            .descr {
                .app-mod__blog-widget__descr-lines(@AppMod-BlogWidget-Horizontal-DescrLines);
            }
        }
    }
}

// /* *** MIXINS *** */

.app-mod__blog-widget__descr-lines (@count) when (@count > 0) {
    height: @count * @CmFont-Base-LineHeight;
    text-overflow: ellipsis;
    overflow: hidden;
}

.app-mod__blog-widget__descr-lines (@count) when (@count = 1) {
    white-space: nowrap;
}