/* ******* MODULES: PORTFOLIO WIDGET ******* */

.mod__portfolio-widget {
    .com-slider:last-child,
    .com-slider-layout:last-child,
    .pt__toolbar:last-child {
        margin: 0;
    }
}

/* *** ITEM *** */

.mod__portfolio-widget__item {
    > .inner {
        &:extend(.clear all);

        .image {
            max-width: 156px;

            img {
                .cm-image-resizable;
            }

            &.pull-left {
                float: left;
                margin: 0 @CmIndent-XSmall @CmIndent-XSmall 0;
            }

            &.pull-right {
                float: right;
                margin: 0 0 @CmIndent-XSmall @CmIndent-XSmall;
            }

            &.pull-center {
                float: none;
                margin: 0 auto @CmIndent-XSmall auto;
            }
        }
    }
}

/* ******* MODULES: PORTFOLIO WIDGET: ADAPTIVE ******* */

@media only screen and (max-width : @CmScreen-Mobile) {

    html.is-adaptive {
        .mod__portfolio-widget__item {
            > .inner {
                .image {
                    float: none;
                    margin: 0 auto @CmIndent-XSmall auto;
                }
            }
        }
    }

}