/* ******* MODULES: SITEMAP ******* */

.app-mod__sitemap {
    > .inner {
        font-size: 0;

        dl {
            min-width: 116px;
            width: 12.2%;
            display: inline-block;
            margin: 0 2% 20px 0;
            vertical-align: top;
            font-size: @AppModSitemap-FontSize;
            font-weight: @CmFont-Base-BoldWeight;
            color: @AppModSitemap-Color;

            &:last-child {
                margin-right: 0;
            }

            dt {
                color: @AppModSitemap-Title-Color;

                a {
                    color: @AppModSitemap-Title-Color;
                }
            }

            dd {
                margin: 6px 0 0 0;
                padding: 0;

                a {
                    color: @AppModSitemap-Color;
                }
            }
        }
    }
}

/* ******* MODULES: SITEMAP: ADAPTIVE ******* */

@media only screen and (max-width : @CmScreen-TabletPortrait) {

    html.is-adaptive {
        .app-mod__sitemap {
            > .inner {
                dl {
                    width: 21%;
                    margin: 0;
                    padding: 2%;
                }
            }
        }
    }

}

@media only screen and (max-width : @CmScreen-Mobile) {

    html.is-adaptive {
        .app-mod__sitemap {
            > .inner {
                dl {
                    width: 46%;
                    margin: 0;
                    padding: 2%;
                }
            }
        }
    }

}