/* ******* MODULES: SLIDER *******  */

.app-mod__slider {
    .com__slider:last-child,
    .com__slider-layout:last-child,
    .pt__toolbar:last-child {
        margin: 0;
    }

    &.is-editable {
        .com__slider {
            > .inner {
                > .slides {
                    > ul {
                        overflow: visible;

                        > li {
                            &.pt__dnd-area {
                                padding: @PtDnD-Area-Padding;
                            }

                            > .slider-link {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
}

.app-mod__slider__featured {
    height: 110px;
    width: 110px;
    position: absolute;
    z-index: 2;
    background: url("@{AppPath-Images}/modules/slider/featured.png") 0 0 no-repeat;
    .mx__position(-1px, -1px, auto, auto);
}