/* ******* MODULES: SLIDER *******  */

.mod__slider {
    .com-slider:last-child,
    .com-slider-layout:last-child,
    .cm-toolbar:last-child {
        margin: 0;
    }
}

.mod__slider__featured {
    height: 110px;
    width: 110px;
    position: absolute;
    z-index: 2;
    background: url("@{AppPath-Images}/modules/slider/featured.png") 0 0 no-repeat;
    .cm-position(-1px, -1px, auto, auto);
}