/* ******* MODULES: WEBEX MEETINGS ******* */

.app-mod__webex {

}

.app-mod__webex__cell-title {
    width: auto;
}

.app-mod__webex__cell-date {
    width: 130px;
}

.app-mod__webex__cell-timezone {
    width: 15%;
}

.app-mod__webex__cell-duration {
    width: 10%;
}

.app-mod__webex__cell-links {
    width: 200px;
}