/* ******* COMPONENT: MODULE: WEBEX MEETINGS ******* */

.app-module-webex {

}

.app-module-webex-cell-title {
    width: auto;
}

.app-module-webex-cell-date {
    width: 130px;
}

.app-module-webex-cell-timezone {
    width: 15%;
}

.app-module-webex-cell-duration {
    width: 10%;
}

.app-module-webex-cell-links {
    width: 200px;
}