/* ******* MODULES: WORKING AREA ******* */

.app-mod__area {
    .mx__box-sizing(border-box);

    > .inner {

    }

    &.pull-left {
        > .inner {
            margin: 0;
        }
    }

    &.pull-center {
        > .inner {
            margin: 0 auto;
        }
    }

    &.pull-right {
        > .inner {
            margin: 0 0 0 auto;
        }
    }
}