/* ******* LAYOUTS: PLANS ******* */

.app-lt__plans {
    margin: 0 0 @Cm-indentMedium;

    &:last-child {
        margin: 0;
    }
}

.app-lt__plans__grid {
    .pt__grid.is-flexible-in;
    #cm > .pt__grid__indent(@Cm-indentMedium);
}

.app-lt__plan {
    .cm-box-flat;
    .display-flex;
    width: 100%;

    > .inner {
        width: 100%;
        position: relative;
        padding: 0 0 @CmForm-fieldHeight;
        .cm-flex(1);
    }

    .plan-title {
        margin: 0 0 @Cm-indentXSmall;
        text-align: center;
    }

    .plan-price {
        .cm-font-title;
        margin: 0 0 @Cm-indentMedium;
        text-align: center;
    }

    .plan-abstract {
        margin: 0 0 @Cm-indentMedium;

        ul {
            .cm-list;
        }
    }

    .plan-actions {
        position: absolute;
        .cm-position(auto, 0, 0, 0);

        .btn-wrap {
            margin: 0;
        }
    }
}

/* ******* LAYOUTS: PLANS: ADAPTIVE ******* */

@media only screen and (max-width: @CmScreen-Tablet) {
    html.is-adaptive {
        .app-lt__plans__grid {
            > ul {
                > li {
                    .cm-flex(1 1 50%);
                }
            }
        }
    }
}