.app-lt__templates__scroll {
    &:extend(.cm-scroll-y);

    min-height: 200px;
    padding: 0 @CmIndent-Medium 0 0;
}

.app-lt__templates__item {
    border: @Cm-borderBox;
    cursor: pointer;
    .mx__transition(border-color @CmVar-Transition-Duration ease-in-out);

    > .inner {
        position: relative;
    }

    .image {
        position: relative;
        z-index: 1;

        img {
            &:extend(.cm-image-resizable all);
        }
    }

    .info {
        position: absolute;
        z-index: 2;
        opacity: 0;
        .mx__position(0, 0, 0, 0);
        .mx__transition(opacity @CmVar-Transition-Duration ease-in-out);
        .mx__linear-gradient(~"to bottom, rgb(255,255,255) 0, rgba(255,255,255,0.5) 50%");

        > .inner {
            position: absolute;
            .mx__position(@AppLT-Templates-ItemPadding, @AppLT-Templates-ItemPadding, @AppLT-Templates-ItemPadding, @AppLT-Templates-ItemPadding);
        }

        .btn-wrap {
            position: absolute;
            margin: 0;
            font-size: 0;
            .mx__position(auto, 0, 0, 0);
        }
    }

    &:hover {
        border: @Cm-borderBoxActive;
        .mx__transition(border-color @CmVar-Transition-DurationReverse ease-in-out);

        .info {
            opacity: 1;
            .mx__transition(opacity @CmVar-Transition-DurationReverse ease-in-out);
        }
    }

    &.active {
        border: @Cm-borderBoxSelected;
    }
}