
.pt__gridlist {
    .app-lt__orders__cell-product {
        width: auto;
    }

    .app-lt__orders__cell-status {
        width: 10%;
        text-align: center;
        vertical-align: middle;
    }

    .app-lt__orders__cell-qty {
        width: 10%;
        text-align: center;
        vertical-align: middle;
    }

    .app-lt__orders__cell-qty-price {
        width: 10%;
        text-align: center;
        vertical-align: middle;
    }

    .app-lt__orders__cell-price {
        width: 10%;
        text-align: right;
        vertical-align: middle;
    }

    .app-lt__orders__cell-price-full {
        width: 15%;
        text-align: right;
        vertical-align: middle;
    }

    .app-lt__orders__cell-total-full {
        width: 15%;
        text-align: right;
        vertical-align: middle
    }

    .app-lt__orders__cell-tools {
        width: 48px;
        text-align: right;
        vertical-align: middle;
    }

    .app-lt__orders__cell-space {
        width: 42px;
    }
}