/* ******* LAYOUTS: TOP MENU ******* */

.app-lt__topmenu {
    height: @AppLT-TopMenu-Height;
    position: fixed;
    z-index: 104;
    background-color: @AppLT-TopMenu-Background;
    box-shadow: @CmUI-Shadow-Bottom;
    .mx__position(0, 0, auto, 0);

    > .inner {
        height: 100%;
        margin: 0 auto;
        position: relative;
    }

    .icon {
        color: @AppLT-TopMenu-Color;
        line-height: @AppLT-TopMenu-Height;
        .cm-i__size(@CmSize-Large);
        .cm-i__b-size(@AppLT-TopMenu-Height);
    }

    // /* QuickSilk Logo */

    .menu-logo {
        position: relative;
        z-index: 3;
        display: block;
        float: left;
        .mx__transition(opacity, @CmUI-Transition-Duration);

        &:hover {
            opacity: @CmUI-Opacity-Hover;
        }
    }

    // /* Menu  */

    .menu-button {
        .icon.medium.menu-white;
        .icon.linked;
        width: @AppLT-TopMenu-Height;
        height: @AppLT-TopMenu-Height;
        display: none;
        position: absolute;
        z-index: 3;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        .mx__position(0, 0, 0, auto);
    }

    .menu-holder {
        position: absolute;
        z-index: 1;
        .mx__position(0, 0, 0, 0);

        > .inner {
            position: absolute;
            .mx__position(0, 0, 0, 0);
        }
    }

    .menu {
        .cm__list-clear;
        position: relative;
        z-index: 2;

        ul {
            .cm__list-clear;
        }

        li {
            .app-lt__topmenu-font;
            position: relative;
            line-height: @AppLT-TopMenu-Height;
            color: @AppLT-TopMenu-Color;

            a {
                .cm__font--inherit;
                .cm__text-nowrap;
                padding: 0 @CmIndent-XSmall;
                display: block;
                position: relative;
                text-decoration: none;
                .mx__transition(all, @CmUI-Transition-Duration);

                &:hover {
                    .mx__transition(all, @CmUI-Transition-DurationReverse);
                }
            }
        }
    }
}

/* *** HELPERS *** */

.app-lt__topmenu-helper__height {
    height: @AppLT-TopMenu-Height;
}

/* *** FONT *** */

.app-lt__topmenu-font {
}

// /* *** MIXINS *** */

.app-lt__topmenu__dropdown--desktop () {
    .pt__menu-dropdown--base;
}

.app-lt__topmenu__dropdown--desktop-first () {
    border-top: none;
    border-radius: 0 0 @CmBorder-Radius @CmBorder-Radius;
}

/* ******* LAYOUTS: TOP MENU: ADAPTIVE *** */

/* *** DESKTOP VIEW *** */

@media only screen and (min-width : (@CmUI-AdaptiveFrom + 1px)) {
    html.is-adaptive {
        .app-lt__topmenu {
            .menu {
                .cm__list-inline;

                > li {
                    margin: 0 0 0 @AppLT-TopMenu-ItemIndent;

                    &:first-child {
                        margin: 0;
                    }

                    > a {
                        max-width: 256px;
                        z-index: 2;
                    }

                    > .pt__menu-dropdown {
                        .check-first-level (@value) when (@value = true) {
                            .app-lt__topmenu__dropdown--desktop-first;
                        }

                        .check-first-level(@AppLT-TopMenu-Dropdown-FirstLevel);
                    }

                    .icon {
                        display: inline-block;
                        vertical-align: top;
                    }

                    &.has-icon {
                        > a {
                            padding-left: 0;
                        }
                    }

                    &.has-dropdown {
                        > a {
                            @indent: ((@CmSize-Medium - @CmSize-XSmall) / 2);
                            .app-icon.x-small.arrow-white-down;
                            padding-right: @CmIndent-Medium;
                            background-position: ~'calc(100% - @{indent})' center;
                            background-repeat: no-repeat;
                        }
                    }

                    &:hover,
                    &.active {
                        > a {
                            background-color: @AppLT-TopMenu-HoverBackground;
                            color: @AppLT-TopMenu-Color;
                            .mx__transition(all, @CmUI-Transition-DurationReverse);
                        }

                        > .pt__menu-dropdown {
                            .pt__menu-dropdown--active;
                        }
                    }
                }

                .pt__menu-dropdown {
                    .app-lt__topmenu__dropdown--desktop;
                    z-index: 1;
                }

                &.right {
                    float: right;
                }

                &.left {
                    float: left;
                    margin: 0 0 0 @CmIndent-XLarge;
                }
            }
        }
    }
}

@media only screen and (min-width: 1281px) {
    html.is-adaptive {
        .app-lt__topmenu {
            .menu-centered {
                position: absolute;
                margin: 0 50%;
                .mx__position(0, auto, 0, auto);

                > .inner {
                    position: relative;
                    left: -50%;
                }

                .menu {
                    white-space: nowrap;
                }
            }
        }
    }
}

@media only screen and (min-width : (@CmUI-AdaptiveFrom + 1px)) and (max-width: 1280px) {
    html.is-adaptive {
        .app-lt__topmenu {
            .menu {
                > li {
                    font-size: 12px;

                    > a {
                        max-width: 128px;
                        font-size: 12px;
                        .mx__box-sizing(border-box);
                    }

                    &.has-icon {
                        > a {
                            padding: 0;
                            background-image: none;
                            font-size: 0;
                        }
                    }
                }
            }

            .menu-centered {
                float: right;
                margin: 0 0 0 @AppLT-TopMenu-ItemIndent;
            }
        }
    }
}

/* *** MOBILE VIEW *** */

@media only screen and (max-width : @CmUI-AdaptiveFrom) {

    html.is-adaptive {
        .app-lt__topmenu {
            > .inner {
                &:before {
                    position: absolute;
                    z-index: 2;
                    display: block;
                    content: '';
                    background-color: @AppLT-TopMenu-Background;
                    .mx__position(0, 0, 0, 0);
                }
            }

            .menu-button {
                display: block;
            }

            .menu-holder {
                display: block;
                position: fixed;
                visibility: hidden;
                .mx__transform(translate3d(0, -100%, 0));
                .mx__transition(transform visibility, @AppLT-TopMenu-Duration);
                .mx__position(0, 0, 0, 0);

                > .inner {
                    .cm__scroll-y-a;
                    position: absolute;
                    padding: 0;
                    background-color: @AppLT-TopMenu-Background;
                    .mx__position(@AppLT-TopMenu-Height, 0, 0, 0);
                }
            }

            .menu {
                margin: 0;
                padding: 0;
                position: relative;
                float: none;
                border-top: @AppLT-TopMenu-ItemBorder;

                li {
                    display: block;
                    margin: 0;
                    border: none;
                    border-top: @AppLT-TopMenu-ItemBorder;
                    line-height: @AppLT-TopMenu-Height;
                    .mx__background-clip(padding-box);

                    &:first-child {
                        margin: 0;
                        border-top: none;
                    }

                    &:before {
                        display: none;
                    }

                    &.has-dropdown {
                        > a {
                            border-bottom: @AppLT-TopMenu-ItemBorder;
                        }
                    }

                    .icon {
                        display: none;
                    }
                }

                ul {
                    a {
                        background: @AppLT-TopMenu-ItemBackground;
                        padding-left: @CmIndent-XSmall * 2;
                    }

                    ul {
                        a {
                            padding-left: @CmIndent-XSmall * 3;
                        }
                    }
                }

                li a,
                ul a {
                    &:hover {
                        background-color: @AppLT-TopMenu-HoverBackground;
                    }
                }
            }

            &.is-collapsed {
                .menu-holder {
                    visibility: hidden;
                    .mx__transform(translate3d(0, -100%, 0));
                }
            }

            &.is-expanded {
                .menu-holder {
                    visibility: visible;
                    .mx__transform(translate3d(0, 0, 0));
                }
            }
        }
    }

}

/* *******  LAYOUTS: TOP MENU: PRINT ******* */

@media print {

    .app-lt__topmenu {
        display: none !important;
    }

}