/* ******* COMPONENTS: BLOCK ******* */

.app__block-container {
    position: relative;
    z-index: 1;
    margin: 0 0 @AppBlock-Indent;
    .mx__transition(z-index, @CmUI-Transition-Duration);

    // /* Inner */

    > .app__block {
        .pt__editable__bundle > .normal;
        margin: 0;
    }

    &:hover {
        z-index: 10;
        .mx__transition(z-index, @CmUI-Transition-DurationReverse);

        > .app__block-dummy {
            &:extend(.app__block-dummy--hover all);
        }
    }

    &.is-active {
        z-index: 10;
        .mx__transition(z-index, @CmUI-Transition-DurationReverse);

        > .app__block-dummy {
            &:extend(.app__block-dummy--active all);
        }
    }

    &:not(.is-editing):not(.is-replacing) {
        &:last-child {
            margin: 0;
        }
    }

    &.is-editing {
        margin: 0 0 @AppBlock-Indent;
    }

    &.is-editable {
        > .app__block {
            .pt__editable__bundle > .editable;
            .mx__transition(opacity, @CmUI-Transition-Duration);
        }

        &:hover {
            > .app__block {
                .pt__editable__bundle > .hover;
            }
        }

        &.is-active {
            > .app__block {
                .pt__editable__bundle > .hover;
                .pt__editable__bundle > .active;
                opacity: 0.7;
                .mx__transition(opacity, @CmUI-Transition-DurationReverse);
            }
        }
    }

    &.is-dragging {
        position: fixed !important;
        z-index: 9000 !important;
        cursor: move !important;
        .mx__position(0, auto, auto, 0);
        .mx__user-select(none);

        &.is-dropping {
            .mx__transition(all, @AppDashboard-DropDuration);
        }
    }

    &.is-replacing {
        margin: 0 0 @AppBlock-Indent;
        position: absolute !important;
        z-index: 9000 !important;
        opacity: 0;
        .mx__position(0, 0, auto, 0);
    }

    &.is-hidden {
        display: none;
    }

    &.is-visible {
        display: block;
    }

    &.is-immediately {
        > .app__block {
            .pt__editable__bundle > .is-immediately;
        }
    }
}

/* *** SPINNER *** */

.app__block-spinner {
    position: absolute;
    z-index: 10;
    visibility: hidden;
    opacity: 0;
    background: @AppBlock-Loader-Background;
    border: @AppBlock-Loader-Border;
    border-radius: @AppBlock-Loader-BorderRadius;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    .mx__position(0, 0, 0, 0);
    .mx__transition(all, @CmUI-Transition-Duration);

    &.is-visible {
        visibility: visible;
        opacity: 1;
    }
}

/* *** DUMMY *** */

.app__block-dummy {
    position: relative;
    border-radius: @AppBlock-Dummy-BorderRadius;
    cursor: move;
    .mx__user-select(none);
    .mx__transition(background-color box-shadow, @CmUI-Transition-Duration);

    > .inner {
        padding: @AppBlock-Dummy-Padding;
    }

    .caption {
        .cm__font--small;
        padding: 4px 0;
        overflow: hidden;
        text-align: center;
        line-height: 15px;
        .mx__transition(color, @CmUI-Transition-Duration);
    }

    .icon {
        //width: @AppBlock-Dummy-IconSize;
        height: @AppBlock-Dummy-IconSize;
        margin: 0 auto;
        border-radius: @AppBlock-Dummy-IconBorderRadius;
        background-repeat: no-repeat;
        .mx__transition(background-color, @CmUI-Transition-Duration);
    }

    .icon {
        .for(@AppIcon-Block-Names); .-each(@name) {
            &.module-@{name} {
                @var: "AppIcon-Block-@{name}";
                @rule: @@var;
                background-position: 50% (-@rule * @AppIcon-Block-Size);
            }
        }
    }

    .icon {
        .for(@AppIcon-Block-Element-Names); .-each(@name) {
            &.module-element_@{name} {
                @var: "AppIcon-Block-Element-@{name}";
                @rule: @@var;
                background-position: 50% (-@rule * @AppIcon-Block-Size);
            }
        }
    }
}

.app__block-dummy--hover {
    .icon {
        .mx__transition(background-color, @CmUI-Transition-DurationReverse);
    }
}

.app__block-dummy--active {
    box-shadow: 0 1px 5px rgba(0,0,0,0.2);
    .mx__transition(background-color box-shadow, @CmUI-Transition-DurationReverse);

    .icon {
        .mx__transition(background-color, @CmUI-Transition-DurationReverse);
    }
}

/* *** WIDGET CATEGORY *** */

.app__blocks-category {
    margin: 0 0 @CmIndent-XSmall;

    &:last-child {
        margin: 0;
    }

    > dd {
        margin: 0 -@AppBlock-Dummy-Padding;
        font-size: 0;
    }

    .app__block-container {
        width: 33.33%;
        display: inline-block;
        vertical-align: top;
        margin: 0 !important;
    }
}

// /* *** MIXINS **** */

.app__block-dummy__theme (@theme) {
    .app__block-dummy__background(~"@{AppBlock-Dummy-Theme@{theme}-BackgroundNormal}", ~"@{AppBlock-Dummy-Theme@{theme}-BackgroundHover}", ~"@{AppBlock-Dummy-Theme@{theme}-BackgroundActive}");
    .app__block-dummy__icon-background(~"@{AppBlock-Dummy-Theme@{theme}-IconBackgroundNormal}", ~"@{AppBlock-Dummy-Theme@{theme}-IconBackgroundHover}", ~"@{AppBlock-Dummy-Theme@{theme}-IconBackgroundActive}");
    .app__block-dummy__icons(@theme);
    .app__block-dummy__caption-color(~"@{AppBlock-Dummy-Theme@{theme}-ColorNormal}", ~"@{AppBlock-Dummy-Theme@{theme}-ColorHover}", ~"@{AppBlock-Dummy-Theme@{theme}-ColorActive}");
}

.app__block-dummy__background (@normal, @hover, @active){
    .app__block-container {
        > .app__block-dummy {
            background-color: @normal;
        }

        &:hover {
            > .app__block-dummy {
                background-color: @hover;
            }
        }

        &.is-active {
            > .app__block-dummy {
                background-color: @active;
            }
        }
    }
}

.app__block-dummy__icons (@theme) {
    .app__block-dummy {
        .icon {
            background-image: url("@{AppPath-Images}/components/block/@{theme}.svg");
            background-position: 50% @AppIcon-Block-default;
        }
    }
}

.app__block-dummy__icon-background (@normal, @hover, @active) {
    .app__block-container {
        > .app__block-dummy {
            .icon {
                background-color: @normal;
            }
        }

        &:hover {
            > .app__block-dummy {
                .icon {
                    background-color: @hover;
                }
            }
        }

        &.is-active {
            > .app__block-dummy {
                .icon {
                    background-color: @active;
                }
            }
        }
    }
}

.app__block-dummy__caption-color (@normal, @hover, @active) {
    .app__block-container {
        > .app__block-dummy {
            .caption {
                color: @normal;
            }
        }

        &:hover {
            > .app__block-dummy {
                .caption {
                    color: @hover;
                }
            }
        }

        &.is-active {
            > .app__block-dummy {
                .caption {
                    color: @active;
                }
            }
        }
    }
}

.app__blocks-category__background (@color){
    .app__blocks-category {
        > dd {
            background-color: @color;
        }
    }
}

.app__block-dummy__theme(@AppBlock-Dummy-Theme);
.app__blocks-category__background(@AppBlock-Category-Background);

/* *** HELPERS *** */

.app__block-dummy-helper__width {
    width: @AppBlock-Dummy-Width;
}