/* ******* COMPONENTS: BLOCK ******* */

.app__block-container {
    position: relative;
    z-index: 1;
    margin: 0 0 @AppBlock-Indent;
    .mx__transition(z-index, @CmUI-Transition-Duration);
    .mx__transition-delay(@CmUI-Transition-Delay-Hide);

    > .app__block {
        .pt__editable__bundle > .normal;
        margin: 0;
    }

    &:hover,
    &:active {
        z-index: 10;
        .mx__transition(z-index, @CmUI-Transition-DurationReverse);
        .mx__transition-delay(0ms);
    }

    &.is-active {
        z-index: 10;
        .mx__transition(z-index, @CmUI-Transition-DurationReverse);
        .mx__transition-delay(0ms);
    }

    &.is-indent-auto {
        &:last-child {
            margin: 0;
        }
    }

    &.is-sticky {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        bottom: 0;

        > .app__block {
            .cm__scrollbar;
            .cm__scroll-y-a;
            max-height: 100vh;
        }
    }

    &.is-editing {
        margin: 0 0 @AppBlock-Indent;

        &:last-child {
            margin: 0 0 @AppBlock-Indent;
        }
    }

    &.is-editable {
        > .app__block {
            .pt__editable__bundle > .editable;
            .mx__transition(opacity, @CmUI-Transition-Duration);
        }

        &:hover,
        &:active {
            > .app__block {
                .pt__editable__bundle > .hover;
            }
        }

        &.is-active {
            > .app__block {
                .pt__editable__bundle > .hover;
                .pt__editable__bundle > .active;
                opacity: 0.7;
                .mx__transition(opacity, @CmUI-Transition-DurationReverse);
            }
        }
    }

    &.is-dragging {
        position: fixed !important;
        z-index: 9000 !important;
        cursor: move !important;
        .mx__position(0, auto, auto, 0);
        .mx__user-select(none);

        &.is-dropping {
            .mx__transition(all, @AppDashboard-DropDuration);
        }
    }

    &.is-replacing {
        margin: 0 0 @AppBlock-Indent;
        position: absolute !important;
        z-index: 9000 !important;
        opacity: 0;
        .mx__position(0, 0, auto, 0);

        &:last-child {
            margin: 0 0 @AppBlock-Indent;
        }
    }

    &.is-hidden {
        display: none;
    }

    &.is-visible {
        display: block;
    }

    &.is-immediately {
        > .app__block {
            .pt__editable__bundle > .is-immediately;
        }
    }
}

/* *** BLOCK *** */

.app__block {
    > .inner {
        position: relative;
        z-index: 2;
    }
}

.app__block__background {
    position: absolute;
    z-index: 1;
    .mx__position(0, 0, 0, 0);

    .background__color,
    .background__image,
    .background__video {
        width: 100%;
        height: 100%;
        position: absolute;
        .mx__position(0, 0, 0, 0);
    }

    .background__video {
        object-fit: none;
    }
}

/* *** SPINNER *** */

.app__block-spinner {
    position: absolute;
    z-index: 10;
    visibility: hidden;
    opacity: 0;
    background: @AppBlock-Loader-Background;
    border: @AppBlock-Loader-Border;
    border-radius: @AppBlock-Loader-BorderRadius;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    .mx__position(0, 0, 0, 0);
    .mx__transition(all, @CmUI-Transition-Duration);

    &.is-visible {
        visibility: visible;
        opacity: 1;
    }
}

/* *** DUMMY *** */

.app__block-dummy {
    position: relative;
    border-radius: @AppBlock-Dummy-BorderRadius;
    cursor: move;
    touch-action: none;
    .mx__user-select(none);
    .mx__transition(background-color box-shadow, @CmUI-Transition-Duration);

    > .inner {
        padding: @AppBlock-Dummy-Padding;
    }

    .caption {
        .cm__font--small;
        padding: 4px 0;
        overflow: hidden;
        text-align: center;
        line-height: 15px;
        .mx__transition(color, @CmUI-Transition-Duration);
    }

    .icon {
        //width: @AppBlock-Dummy-IconSize;
        height: @AppBlock-Dummy-IconSize;
        margin: 0 auto;
        border-radius: @AppBlock-Dummy-IconBorderRadius;
        background-repeat: no-repeat;
        background-image: url("@{AppPath-Images}/components/block/Dark.svg");
        background-position: 50% @AppIcon-Block-default;
        .mx__transition(background-color, @CmUI-Transition-Duration);
    }

    .icon {
        .for(@AppIcon-Block-Names); .-each(@name) {
            &.module-@{name} {
                @var: "AppIcon-Block-@{name}";
                @rule: @@var;
                background-position: 50% (-@rule * @AppIcon-Block-Size);
            }
        }
    }

    .icon {
        .for(@AppIcon-Block-Element-Names); .-each(@name) {
            &.module-element_@{name} {
                @var: "AppIcon-Block-Element-@{name}";
                @rule: @@var;
                background-position: 50% (-@rule * @AppIcon-Block-Size);
            }
        }
    }
}

.app__block-container {
    > .app__block-dummy {
        background-color: @AppBlock-Dummy-BackgroundNormal;

        .caption {
            color: @AppBlock-Dummy-ColorNormal;
        }

        .icon {
            background-color: @AppBlock-Dummy-IconBackgroundNormal;
        }
    }

    &:hover {
        > .app__block-dummy {
            background-color: @AppBlock-Dummy-BackgroundHover;

            .caption {
                color: @AppBlock-Dummy-ColorHover;
            }

            .icon {
                background-color: @AppBlock-Dummy-IconBackgroundHover;
                .mx__transition(background-color, @CmUI-Transition-DurationReverse);
            }
        }
    }

    &.is-active {
        > .app__block-dummy {
            box-shadow: 0 1px 5px rgba(0,0,0,0.2);
            background-color: @AppBlock-Dummy-BackgroundActive;
            .mx__transition(background-color box-shadow, @CmUI-Transition-DurationReverse);

            .caption {
                color: @AppBlock-Dummy-ColorActive;
            }

            .icon {
                background-color: @AppBlock-Dummy-IconBackgroundActive;
                .mx__transition(background-color, @CmUI-Transition-DurationReverse);
            }
        }
    }
}

/* *** WIDGET CATEGORY *** */

.app__blocks-category {
    margin: 0 0 @CmIndent-XSmall;

    &:last-child {
        margin: 0;
    }

    > dd {
        margin: 0 -@AppBlock-Dummy-Padding;
        background-color: @AppBlock-Category-Background;
        font-size: 0;
    }

    .app__block-container {
        width: 33.33%;
        display: inline-block;
        vertical-align: top;
        margin: 0 !important;
    }
}

/* *** HELPERS *** */

.app__block-dummy-helper__width {
    width: @AppBlock-Dummy-Width;
}

/* ******* COMPONENTS: BLOCK: ADAPTIVE ******* */

@media only screen and (max-width : @CmUI-AdaptiveFrom) {
    html.is-adaptive {
        .app__block-container {
            &.is-sticky {
                position: relative !important;
                top: 0 !important;
                bottom: 0 !important;

                > .app__block {
                    max-height: none !important;
                }
            }
        }
        .app__block {
            &.cm-animate {
                visibility: visible;
            }
        }
    }
}

@media only screen and (max-width : @CmScreen-Mobile) {
    html.is-adaptive {
        .app__block {
            &.hover--fadeIn {
                opacity: 1;
            }
        }
    }
}
