/* ******* COMPONENTS: DASHBOARD ******* */

/* *** COMMON *** */

.app__dashboard__body,
.app__dashboard__body * {
    cursor: move !important;
    .mx__user-select(none);
}

.app__dashboard__removable {
    overflow: hidden;
}

.app__dashboard__helper {
    overflow: hidden;
    position: relative;
}

/* *** PLACEHOLDER *** */

/*
.app__dashboard__placeholder {
    height: 0;
    position: relative;

    &:before {
        display: block;
        position: absolute;
        opacity: 0;
        content: '';
        background: url('@{CmPath-Images}/parts/pattern-diagonal-2x50.png') 0 0 repeat;
        border: 2px dashed @AppZone-Active-BorderColor;
        border-radius: @CmBorder-Radius;
        box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.3);
        .mx__position(0, 0, @AppDashboard-Placeholder-Indent, 0);
    }

    &.is-highlight {
        &:before {
            opacity: 1;
        }
    }

    &.is-immediately {
        .cm__transition-none;
    }
}
*/

.app__dashboard__placeholder {
    height: 0;
    position: relative;
    z-index: 100;

    &:before {
        display: block;
        position: absolute;
        opacity: 0;
        content: '';
        background: url('@{CmPath-Images}/parts/pattern-diagonal-2x50.png') 0 0 repeat;
        border: 2px solid @AppZone-Active-BorderColor;
        border-radius: @CmBorder-Radius;
        box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
        .mx__position(-2px, 0, @AppDashboard-Placeholder-Indent, 0);
    }

    /*
    &:not(:first-child):not(:last-child):before {
        top: -(@AppBlock-Indent / 2) - 2px;
    }

    &:before {
        top: -(@AppBlock-Indent / 2) - 2px;
    }
    */

    &.is-highlight {
        &:before {
            opacity: 1;
        }
    }

    &.is-immediately {
        .cm__transition-none;
    }
}