/* ******* COMPONENTS: HELP TOUR ******* */

.app__helptour__popup {
    .app__helptour-font;
    width: @AppHelpTour-Popup-Width;
    padding: @CmIndent-Medium;
    visibility: hidden;
    position: fixed;
    z-index: 9999;
    opacity: 0;
    border-radius: @CmBorder-Radius;
    box-shadow: @CmUI-ShadowLight;
    background: @AppHelpTour-Popup-Background;
    .mx__position(0, auto, auto, 0);
    .mx__transform(scale(0));
    .mx__transform-origin(0 0);
    .mx__transition(all, @AppHelpTour-Duration);

    .popup__close {
        .icon.linked;
        .cm-i;
        .cm-i__circle-close;
        position: absolute;
        z-index: 2;
        .mx__position(@CmIndent-XSmall, @CmIndent-XSmall, auto, auto);
        .cm-i__size(@CmSize-Medium);
    }

    .popup__content {
        height: 0;
        position: relative;
        overflow: hidden;
        .mx__transition(all, @AppHelpTour-Duration);

        &.is-immediately {
            .cm__transition-none;
        }
    }

    .popup__content__item {
        position: absolute;
        opacity: 0;
        background: @AppHelpTour-Popup-Background;
        .mx__position(0, 0, 0, 0);
        .mx__transition(opacity, @AppHelpTour-Duration);

        &.is-show {
            opacity: 1;
        }

        &:last-child {
            position: relative;
        }
    }

    .popup__buttons {
        margin: @CmIndent-Medium 0 0 0;

        .btn-wrap {
            margin: 0;
        }

        .button {
            min-width: 100px;
        }
    }

    .popup__arrow {
        width: 0;
        height: 0;
        position: absolute;
        opacity: 0;
        border-style: solid;
        border-color: transparent;
        .mx__transition(all, @AppHelpTour-Duration);

        &.is-show {
            opacity: 1;
        }
    }

    .popup__arrow--top {
        @border_width: (@AppHelpTour-Popup-ArrowSize / 2);
        top: -@border_width;
        left: @CmIndent-Medium;
        border-width: 0 @border_width @border_width @border_width;
        border-bottom-color: @AppHelpTour-Popup-Background;
    }

    .popup__arrow--right {
        @border_width: (@AppHelpTour-Popup-ArrowSize / 2);
        top: @CmIndent-Medium;
        right: -@border_width;
        border-width: @border_width 0 @border_width @border_width;
        border-left-color: @AppHelpTour-Popup-Background;
    }

    .popup__arrow--bottom {
        @border_width: (@AppHelpTour-Popup-ArrowSize / 2);
        bottom: -@border_width;
        left: @CmIndent-Medium;
        border-width: @border_width @border_width 0 @border_width;
        border-top-color: @AppHelpTour-Popup-Background;
    }

    .popup__arrow--left {
        @border_width: (@AppHelpTour-Popup-ArrowSize / 2);
        top: @CmIndent-Medium;
        left: -@border_width;
        border-width: @border_width @border_width @border_width 0;
        border-right-color: @AppHelpTour-Popup-Background;
    }

    &.is-show {
        visibility: visible;
        opacity: 1;
        .mx__transform(scale(1));
    }
}

/* *** FONT *** */

.app__helptour-font {

}

/* ******* COMPONENTS: HELP TOUR: ADAPTIVE ******* */

@media only screen and (max-width : @AppHelpTour-AdaptiveFrom) {

    html.is-adaptive {
        .app__helptour__popup {
            .display-flex;
            width: auto;
            height: auto;
            border-radius: 0;
            .mx__position(0, 0, 0, 0);
            .mx__flex-flow(column);

            .popup__content {
                overflow: auto;
                .mx__flex(1 1 auto);
            }

            .popup__buttons {
                .mx__flex(0 0 auto);
            }
        }
    }

}