/* ******* COMPONENTS: NOTIFICATION ******* */

.app__notification {
    @paddingY_calc: ((@AppNotification-Height - @CmFont-Base-LineHeight) / 2);
    @paddingY: max(ceil(@paddingY_calc), 0px);
    @heightInner: (@AppNotification-Height - @paddingY * 2);

    position: fixed;
    z-index: 150;
    left: 0;
    right: 0;
    opacity: 0;
    visibility: hidden;
    .mx__transition(opacity transform visibility, @CmUI-Transition-Duration, @CmUI-MotionAsymmetric);

    > .inner {
        padding: @paddingY @CmIndent-XLarge;
        position: relative;

        > .icon {
            @top_calc: ((@AppNotification-Height - @CmSize-Medium) / 2);
            @top: max(ceil(@top_calc), 0px);

            .cm__size__medium;
            position: absolute;
            z-index: 2;
            .mx__position(@top, @top, auto, auto);
        }

        > .text {
            position: relative;
            z-index: 1;
            line-height: @heightInner;
            text-align: center;

            .text-line {
                display: inline-block;
                vertical-align: top;
                margin: 0 2px;

                &:first-child {
                    margin-left: 0;
                }

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }

    &.is-secondary,
    &.is-success,
    &.is-warning,
    &.is-danger,
    &.is-quicksilk {
        > .inner {
            > .icon {
                &.default {
                    .icon.medium.close-white;
                }
            }

            > .text {
                color: @CmColor-Font-Opposite;

                .cm__tags,
                .cm__link {
                    color: @CmColor-Font-Opposite;
                }

                .cm__link {
                    text-decoration: underline;

                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }
    }

    &.is-default,
    &.is-success--light,
    &.is-warning--light,
    &.is-danger--light,
    &.is-white {
        > .inner {
            > .icon {
                &.default {
                    .icon.medium.close;
                }
            }
        }
    }

    &.is-default {
        > .inner {
            background: fade(@CmColor-Secondary-LightActive, @AppNotification-Fade);
        }
    }

    &.is-success {
        > .inner {
            background: fade(@CmColor-Success-DarkDefault, @AppNotification-Fade);
        }
    }

    &.is-warning {
        > .inner {
            background: fade(@CmColor-Warning-DarkDefault, @AppNotification-Fade);
        }
    }

    &.is-danger {
        > .inner {
            background: fade(@CmColor-Danger-DarkDefault, @AppNotification-Fade);
        }
    }

    &.is-quicksilk {
        > .inner {
            background: fade(@AppColor-QuickSilk, @AppNotification-Fade);
        }
    }

    &.is-white {
        > .inner {
            background: fade(@CmColor-Background, @AppNotification-Fade);
        }
    }

    &.is-success--light {
        > .inner {
            background: fade(@CmColor-Success-LightActive, @AppNotification-Fade);
        }
    }

    &.is-warning--light {
        > .inner {
            background: fade(@CmColor-Warning-LightActive, @AppNotification-Fade);
        }
    }

    &.is-danger--light {
        > .inner {
            background: fade(@CmColor-Danger-LightActive, @AppNotification-Fade);
        }
    }

    &.pull-top {
        top: 0;
        .mx__transform(translateY(-100%));
    }

    &.pull-bottom {
        bottom: 0;
        .mx__transform(translateY(100%));
    }

    &.is-show {
        opacity: 1;
        visibility: visible;
        .mx__transform(translateY(0));
    }

    &.is-immediately {
        .cm__transition-none;
    }
}


/* ******* COMPONENTS: NOTIFICATION: ADAPTIVE ******* */

@media only screen and (max-width : @CmUI-AdaptiveFrom) {

    html.is-adaptive {
        .app__notification {
            left: 0 !important;
        }
    }

}

@media only screen and (max-width : @CmScreen-TabletPortrait) {

    html.is-adaptive {
        .app__notification {
            display: none !important;
        }
    }

}

/* ******* COMPONENTS: NOTIFICATION: PRINT ******** */

@media print {

    .app__notification {
        display: none !important;
    }

}