.app__file-uploader__stock {
    &.is-fullsize {
        position: absolute;
        .mx__position(0, 0, 0, 0);

        .app__file-uploader__holder {
            height: 100%;

            .com__overlay {
                &.theme-transparent {
                    margin: -@ComTabset-Content-Padding;
                }
            }

            .com__file-manager {
                > .inner {
                    .mx__transition(all, @CmUI-Transition-DurationLong);
                }

                &.is-blur {
                    > .inner {
                        .mx__filter(blur(8px));
                    }
                }
            }

            .com__file-manager__holder {
                overflow: hidden;

                > .inner {
                    .display-flex;
                    .mx__flex-flow(column nowrap);
                    .mx__justify-content(center);
                }
            }

            .cm__empty {
                .display-flex;
                .cm__flex--center;
                height: 100%;
                opacity: 0;
                .mx__transition(all, @CmUI-Transition-Duration);

                &.is-show {
                    opacity: 1;
                }
            }
        }
    }

    .stock__view {
        .display-flex;
        overflow: hidden;

        .stock__tabs {
            width: 25%;
            position: relative;
            flex: 0 1 auto;
            margin: 0 @CmIndent-Medium 0 0;

            > .inner {
                .cm__scrollbar;
                .cm__scroll--y-auto;
                height: 100%;
            }
        }

        .stock__list {
            position: relative;
            flex: auto;

            > .inner {
                .cm__scrollbar;
                .cm__scroll--y-auto;
                height: 100%;
            }
        }
    }

    .stock__tour {
        .display-flex;
        .cm__flex--center;
        .cm__scroll-y-a;
        width: 100%;
        height: 100%;
        position: relative;
        background: rgba(255, 255, 255, 0.8);
        .mx__flex-flow(column wrap);

        > .inner {
            max-width: 480px;
        }

        .pt__buttons {
            .com__input {
                margin: 6px;
            }
        }
    }
}

.app__shutterstock-optimize {
    .pt__field {
        .pt__filed--size(@CmSize-XXLarge);
    }
}