/* ******* COMPONENTS: SIDEBAR ******* */

.app__sidebar {
    .app__sidebar-font;
    width: @AppSidebar-WidthCollapsed;
    position: fixed;
    z-index: 200;
    overflow: hidden;
    box-shadow: @CmUI-Shadow-Right;
    .mx__position(0, auto, 0, 0);
    .mx__backface-visibility(hidden);
    .mx__transition(width, @AppSidebar-Duration, @CmUI-MotionAsymmetric);

    > .inner {
        position: absolute;
        .mx__position(0, 0, 0, 0);
    }

    .sidebar__menu {
        width: @AppSidebar-Menu-Width;
        position: absolute;
        z-index: 3;
        background-color: @AppSidebar-Menu-Background;
        .mx__position(0, auto, 0, 0);
        .mx__user-select(none);

        > ul {
            .cm__list-clear;

            > li {
                .app__sidebar-tag__menu-item;
                margin: @CmIndent-XXXSmall 0 0 0;
                .mx__transition(all, @CmUI-Transition-Duration);

                &:first-child {
                    margin: 0;
                }

                > a {
                    display: block;
                    position: relative;
                    color: @CmColor-Font-Opposite;
                    .cm-i__size(@CmSize-Large);
                    .cm-i__b-size(@AppSidebar-Menu-Width);
                    .mx__transition(background color, @CmUI-Transition-Duration);

                    &:after {
                        width: 3px;
                        display: block;
                        position: absolute;
                        z-index: 2;
                        content: '';
                        .mx__position(0, auto, 0, 0);
                        .mx__transition(background, @CmUI-Transition-Duration);
                    }

                    &:hover {
                        .mx__transition(background, @CmUI-Transition-DurationReverse);

                        &:after {
                            .mx__transition(background, @CmUI-Transition-DurationReverse);
                        }
                    }
                }

                &.hidden {
                    opacity: 0;
                    visibility: hidden;
                }

                &.active {
                    opacity: 1;
                    visibility: visible;
                }

                &.is-immediately {
                    &:extend(.cm__transition-disable all);
                }
            }
        }
    }

    .sidebar__menu__button {
        position: absolute;
        z-index: 2;
        background-color: @AppSidebar-Menu-Background;
        .mx__position(auto, 0, 0 ,0);

        .icon {
            cursor: pointer;
            color: @CmColor-Font-Opposite;
            .cm-i__size(@CmSize-Medium);
            .cm-i__b-size(@AppSidebar-Menu-Width);
            .mx__transition(transform opacity, @AppSidebar-Duration);

            &:hover {
                opacity: @CmUI-Opacity-Hover;
            }
        }

        &.active {
            .icon {
                .mx__transform(rotate(180deg));
            }
        }
    }

    .sidebar__content {
        width: @AppSidebar-Content-Width;
        position: absolute;
        z-index: 1;
        opacity: 0;
        .mx__position(0, 0, 0, auto);
        .mx__transition(opacity, @AppSidebar-Duration);

        > ul {
            .cm__list-clear;
            position: absolute;
            .mx__position(0, 0, 0, 0);

            > li {
                position: absolute;
                z-index: 1;
                opacity: 0;
                .mx__position(0, 0, 0, 0);
                .mx__transition(all, @CmUI-Transition-Duration);

                &.hidden {
                    visibility: hidden;
                }

                &.active {
                    z-index: 2;
                    opacity: 1;
                    visibility: visible;
                }

                &.is-immediately {
                    &:extend(.cm__transition-disable all);
                }
            }
        }
    }

    .sidebar__remove-zone {
        width: @AppSidebar-Content-Width;
        position: absolute;
        z-index: 2;
        padding: 0;
        opacity: 0;
        background: fadeout(@CmColor-Danger-DarkDefault, 50%);
        border-radius: 0;
        visibility: hidden;
        .mx__position(0, 0, 0, auto);
        .mx__transition(all, @CmUI-Transition-Duration);

        .sidebar__content__title {
            .cm__text-wrap;
            padding: 0 @AppSidebar-Content-Indent;
            background-color: @CmColor-Danger-DarkDefault;
            color: @CmFont-UI-ColorOpposite;
        }

        .app__dashboard__placeholder {
            height: auto;
            position: absolute;
            z-index: 1;
            opacity: 0;
            visibility: hidden;
            .mx__position(0, 0, 0, 0);
        }

        &.app__zone {
            &.is-available {
                .mx__transition(all, @CmUI-Transition-Duration);

                &.is-highlight {
                    visibility: visible;
                    opacity: 1;
                    background: fadeout(@CmColor-Danger-DarkDefault, 75%);

                    &:before {
                        display: none;
                    }
                }

                &.is-active {
                    visibility: visible;
                    opacity: 1;
                    background: fadeout(@CmColor-Danger-DarkDefault, 50%);

                    &:before {
                        display: none;
                    }
                }
            }
        }
    }

    .sidebar__content__title {
        .cm__text-nowrap;
        .cm__font--ui-h1;
        padding: 0 @AppSidebar-Title-Height 0 @AppSidebar-Content-Indent;
        position: absolute;
        z-index: 2;
        text-align: left;
        line-height: @AppSidebar-Title-Height;
        .mx__position(0, 0, auto, 0);
        .mx__user-select(none);

        .icon {
            .icon.linked;
            position: absolute;
            cursor: pointer;
            .cm-i__size(@CmSize-Medium);
            .cm-i__b-size(@AppSidebar-Title-Height);
            .mx__position(0, 0, auto, auto);
        }
    }

    .sidebar__content__descr {
        .cm__scroll-y;
        padding: 0 !important;
        position: absolute;
        z-index: 1;
        .mx__position(@AppSidebar-Title-Height, 0, 0, 0);

        > .inner {
            padding: @AppSidebar-Content-Indent;
        }
    }

    .sidebar__content__text {
        .cm__box;
    }

    .app__block-container {
        margin: 0;
    }

    &.is-expanded {
        width: @AppSidebar-WidthExpanded;

        .sidebar__content {
            opacity: 1;
        }
    }

    &.is-immediately {
        .cm__transition-none;

        .sidebar__content,
        .sidebar__remove-zone {
            .cm__transition-none;
        }

        .sidebar__menu__button {
            .icon {
                .cm__transition-none;
            }
        }
    }

    .app__sidebar__theme(@AppSidebar-Theme);
}

/* *** FONT *** */

.app__sidebar-font {

}

// /* *** MIXINS *** */

.app__sidebar__theme (@theme) when (@theme = Light) {

}

.app__sidebar__theme (@theme) when (@theme = Dark) {
    @background: @AppSidebar-ThemeDark-Background;
    @color: @AppSidebar-ThemeDark-Color;

    .pt__toolbar {
        .button {
            .button.button-white;
        }
    }

    .pt__listing-items {
        > ul {
            > li {
                > a {
                    color: @color;

                    &:hover {
                        color: @background;
                    }
                }

                &.active {
                    > a {
                        color: @background;
                    }
                }
            }
        }
    }

    .pt__overlay {
        &.theme-dark {
            background-color: fade(@background, 70%);
        }
    }
}

.app__sidebar__theme (@theme) {
    .app__sidebar__background(~"@{AppSidebar-Theme@{theme}-Background}");
    .app__sidebar__color(~"@{AppSidebar-Theme@{theme}-Color}");

    .com__togglebox {
        .com__togglebox__theme(@theme);
    }
}

.app__sidebar__background (@background) {
    background-color: @background;

    .app__sidebar-tag__menu-item {
        > a {
            &:hover {
                &:after {
                    background-color: @background;
                }
            }
        }

        &.active {
            > a {
                background-color: @background;
            }
        }
    }
    // Fix of blinking background in Firefox
    .app__blocks-category__background(@background);
}

.app__sidebar__color (@color) {
    .app__sidebar-tag__menu-item {
        &.active {
            > a {
                color: @color;
            }
        }
    }

    .sidebar__content__title {
        color: @color;

        .icon {
            color: @color;
        }
    }

    .sidebar__content__text {
        .cm__links {
            color: ~"@{AppSidebar-Theme@{theme}-Color}";
        }

        .cm__inherit {
            color: ~"@{AppSidebar-Theme@{theme}-Color}";
        }
    }
}

// /* *** SHORT TAGS *** */

.app__sidebar-tag__menu-item () {

}

/* ******* COMPONENT: SIDEBAR: ADAPTIVE ******* */


@media only screen and (max-width : @CmUI-AdaptiveFrom) {

    html.is-adaptive {

        .app__sidebar {
            display: none;
        }

    }

}

/* ******* COMPONENT: SIDEBAR: PRINT ******* */

@media print {

    .app__sidebar {
        display: none;
    }

}