/* ******* LAYOUTS: TOP MENU ******* */

.app__topmenu {
    height: @AppTopMenu-Height;
    position: fixed;
    z-index: 300;
    background-color: @AppTopMenu-Background;
    .mx__position(0, 0, auto, 0);

    > .inner {
        height: 100%;
        margin: 0 auto;
        position: relative;
    }

    // /* Icon */

    .menu__icon {
        display: inline-block;
        vertical-align: top;
        color: @AppTopMenu-Color;
        line-height: @AppTopMenu-Height;
        .cm-i__size(@CmSize-Large);
        .cm-i__b-size(@AppTopMenu-Height);
        .mx__transition(all, @CmUI-Transition-Duration);
    }

    // /* QuickSilk Logo */

    .menu__logo {
        position: relative;
        z-index: 3;
        display: block;
        float: left;
        .mx__transition(opacity, @CmUI-Transition-Duration);

        .menu__icon {
            background-size: 40px;
        }

        &:hover {
            opacity: @CmUI-Opacity-Hover;
        }
    }

    // /* Title */

    .menu__title {
        .cm__font--ui-h1;
        .cm__text-nowrap;
        position: relative;
        z-index: 3;
        line-height: @AppTopMenu-Height;
        color: @CmColor-Font-Opposite;
    }

    // /* Menu  */

    .menu__holder-button {
        width: @AppTopMenu-Height;
        height: @AppTopMenu-Height;
        display: none;
        position: absolute;
        z-index: 3;
        cursor: pointer;
        .mx__position(0, 0, 0, auto);

        > .icon {
            .cm__size__medium;
            .icon.linked;
            .cm-ia__menu;
            position: absolute;
            margin: auto;
            .mx__position(0,0,0,0);
        }

        &.active {
            > .icon {
                .cm-ia__menu--active;
            }
        }
    }

    .menu__holder {
        position: absolute;
        z-index: 1;
        .mx__position(0, 0, 0, 0);

        > .inner {
            position: absolute;
            .mx__position(0, 0, 0, 0);
        }
    }

    .menu {
        .cm__list-clear;
        position: relative;
        z-index: 2;

        ul {
            .cm__list-clear;
        }

        li {
            .app__topmenu-font;
            position: relative;
            line-height: @AppTopMenu-Height;
            color: @AppTopMenu-Color;

            a {
                .cm__font--inherit;
                .cm__text-nowrap;
                padding: 0 @CmIndent-XSmall;
                display: block;
                position: relative;
                text-decoration: none;
                .mx__transition(all, @CmUI-Transition-Duration);

                &:hover {
                    .mx__transition(all, @CmUI-Transition-DurationReverse);
                }
            }
        }
    }
}

/* *** FONT *** */

.app__topmenu-font {
}

// /* *** MIXINS *** */

.app__topmenu__dropdown--desktop () {
    .pt__menu-dropdown--base;
    .pt__menu-dropdown--position;
}

.app__topmenu__dropdown--desktop-first () {
    border-top: none;
    border-radius: 0 0 @CmBorder-Radius @CmBorder-Radius;
}

/* ******* LAYOUTS: TOP MENU: ADAPTIVE *** */

/* *** DESKTOP VIEW *** */

@media only screen and (min-width : (@CmUI-AdaptiveFrom + 1px)) {
    html.is-adaptive {
        .app__topmenu {
            .menu__title {
                float: left;
                margin-left: @CmIndent-XSmall;
            }

            .menu__right {
                float: right;
            }

            .menu__left {
                float: left;
                margin: 0 0 0 @CmIndent-XLarge;
            }

            .menu__block {
                .display-flex;
                height: @AppTopMenu-Height;
                .mx__align-items(center);
            }

            .menu__toolbar {
                .menu__block;
                padding: 0 @CmIndent-XSmall;
            }

            .menu {
                .cm__list-inline;

                > li {
                    margin: 0 0 0 @AppTopMenu-ItemIndent;

                    &:first-child {
                        margin: 0;
                    }

                    > a {
                        max-width: 256px;
                        z-index: 2;
                    }

                    > .pt__menu-dropdown {
                        min-width: 100%;
                        .check-first-level (@value) when (@value = true) {
                            .app__topmenu__dropdown--desktop-first;
                        }

                        .check-first-level(@AppTopMenu-Dropdown-FirstLevel);
                    }

                    &.has-icon {
                        > a {
                            padding-left: 0;
                        }
                    }

                    &.has-dropdown {
                        > a {
                            @indent: ((@CmSize-Medium - @CmSize-XSmall) / 2);
                            .svg__app__menu-dropdown;
                            padding-right: @CmIndent-Medium;
                            background-position: ~'calc(100% - @{indent})' center;
                            background-repeat: no-repeat;
                        }
                    }

                    &:hover,
                    &:active,
                    &.active,
                    &.is-show {
                        > .pt__menu-dropdown {
                            .pt__menu-dropdown--active;
                        }
                    }

                    &:hover,
                    &:active {
                        > a {
                            background-color: @AppTopMenu-HoverBackground;
                            color: @AppTopMenu-ColorHover;
                            .mx__transition(all, @CmUI-Transition-DurationReverse);

                            .menu__icon {
                                color: @AppTopMenu-ColorHover;
                            }
                        }
                    }

                    &.active {
                        > a {
                            background-color: #ffffff;
                            color: @AppTopMenu-ColorActive;
                            .mx__transition(all, @CmUI-Transition-DurationReverse);

                            .menu__icon {
                                color: @AppTopMenu-ColorActive;
                            }
                        }
                    }
                }

                .pt__menu-dropdown {
                    .app__topmenu__dropdown--desktop;
                    z-index: 1;
                }
            }
        }
    }
}

/* *** DESKTOP > 5x4 *** */

@media only screen and (min-width: 1281px) {
    html.is-adaptive {
        .app__topmenu {
            .menu__center {
                position: absolute;
                margin: 0 50%;
                .mx__position(0, auto, 0, auto);

                > .inner {
                    position: relative;
                    left: -50%;
                }

                .menu {
                    white-space: nowrap;
                }
            }
        }
    }
}

/* *** DESKTOP <= 5x4 *** */

@media only screen and (min-width : (@CmUI-AdaptiveFrom + 1px)) and (max-width: 1280px) {
    html.is-adaptive {
        .app__topmenu {
            .menu__center {
                float: right;
                margin: 0 0 0 @AppTopMenu-ItemIndent;
            }

            .menu {
                > li {
                    font-size: 12px;

                    > a {
                        max-width: 128px;
                        font-size: 12px;
                        .mx__box-sizing(border-box);
                    }

                    &.has-icon {
                        > a {
                            padding: 0;
                            background-image: none;
                            font-size: 0;
                        }
                    }
                }
            }
        }
    }
}

/* *** TABLET VIEW *** */

@media only screen and (min-width : (@CmUI-AdaptiveFrom + 1px)) and (max-width: @CmScreen-Tablet) {

    html.is-adaptive {
        .app__topmenu {
            .menu__title {
                .cm__font--ui-h4;
                line-height: @AppTopMenu-Height;
                color: @CmColor-Font-Opposite;
            }
        }
    }

}

/* *** MOBILE VIEW *** */

@media only screen and (max-width : @CmUI-AdaptiveFrom) {

    html.is-adaptive {
        .app__topmenu {
            > .inner {
                &:before {
                    position: absolute;
                    z-index: 2;
                    display: block;
                    content: '';
                    background-color: @AppTopMenu-Background;
                    .mx__position(0, 0, 0, 0);
                }
            }

            .menu__title {
                .cm__font--ui-h4;
                margin-left: @AppTopMenu-Height;
                margin-right: @AppTopMenu-Height;
                line-height: @AppTopMenu-Height;
                color: @CmColor-Font-Opposite;
                text-align: center;
            }

            .menu__holder-button {
                display: block;
            }

            .menu__holder {
                display: block;
                position: fixed;
                visibility: hidden;
                .mx__transform(translate3d(0, -100%, 0));
                .mx__transition(transform visibility, @AppTopMenu-Duration, @CmUI-MotionAsymmetric);
                .mx__position(@AppTopMenu-Height, 0, 0, 0);

                > .inner {
                    .cm__scroll-y-a;
                    position: absolute;
                    padding: 0;
                    background-color: @AppTopMenu-Background;
                    .mx__position(0, 0, 0, 0);
                }
            }

            .menu__block {
                margin: @CmIndent-XXSmall;
                padding: 0;
                border-radius: @CmBorder-Radius;
                background-color: @AppColor-UI-PanelBlock;
                overflow: hidden;
            }

            .menu__toolbar {
                .menu__block;
                padding: @CmIndent-XSmall;
            }

            .menu {
                .menu__block;
                position: relative;
                float: none;

                li {
                    display: block;
                    border-top: @AppTopMenu-ItemBorder;
                    line-height: @AppTopMenu-Height;
                    .mx__background-clip(padding-box);

                    &:first-child {
                        border-top: none;
                    }

                    &.has-dropdown {
                        > a {
                            border-bottom: @AppTopMenu-ItemBorder;
                        }
                    }

                    &.has-icon {
                        > a {
                            padding-left: 0;
                        }
                    }
                }

                ul {
                    a {
                        background: @AppTopMenu-ItemBackground;
                        padding-left: @CmIndent-XSmall * 2;
                    }

                    ul {
                        a {
                            padding-left: @CmIndent-XSmall * 3;
                        }
                    }
                }

                li a,
                ul a {
                    &:hover {
                        background-color: @AppTopMenu-HoverBackground;
                    }
                }
            }

            &.is-collapsed {
                .menu__holder {
                    visibility: hidden;
                    .mx__transform(translate3d(0, -100%, 0));
                }
            }

            &.is-expanded {
                .menu__holder {
                    visibility: visible;
                    .mx__transform(translate3d(0, 0, 0));
                }
            }
        }
    }

}

/* ******* COMPONENTS: TOP MENU: PRINT ******* */

@media print {

    .app__topmenu {
        display: none !important;
    }

}