/* ******* COMPONENTS: ZONE ******* */

.app__zone {
    .clearfix;
    max-width: 100%;
    min-height: 0;
    padding: 0;
    position: relative;

    &.is-available {
        /*.mx__transition(background-color, @CmUI-Transition-Duration);*/

        &:before {
            /*.mx__transition(border-color, @CmUI-Transition-Duration);*/
        }

        &.is-highlight {
            background-color: @AppZone-Highlight-Background;
            border-radius: @AppZone-BorderRadius;

            &:before {
                position: absolute;
                display: block;
                content: '';
                border: @AppZone-Highlight-Border;
                border-radius: @AppZone-BorderRadius;
                box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.2);
                .mx__position(-1px,-1px,-1px,-1px);
            }

            &.is-active {
                background-color: @AppZone-Active-Background;

                &:before {
                    border: @AppZone-Active-Border;
                    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
                }

                .app__zone {
                    background-color: rgba(255,255,255,0.4);
                }
            }
        }
    }

    &.is-editable {
        min-height: @AppZone-MinHeight;
        padding: @AppZone-Padding;
    }
}

/* *** MODULE SPECIFIC *** */

.com__column {
    > .inner {
        &.app__zone {
            min-height: initial;

            &.is-editable {
                min-height: initial;
            }
        }
    }
}

/* *** PREDEFINE ZONES *** */

.app__zone-default {

}

.app__zone-main {
    &.is-editable {
        min-height: @AppUI-Zone-ContentHeight;
    }
}

.app__zone-footer,
.app__zone-header {
    .clearfix;
    z-index: 1;

    &:hover {
        z-index: 100 !important;
    }

    &.is-editable {
        min-height: @AppUI-Zone-Height;

        &:not(.main):not(.splash):not(.additional) {
            min-width: @AppUI-Zone-Width;
            padding: 0;
        }
    }
}