/* ******* PART: ICONS ******* */

.app-icon {
    // /* Large Size Icons */

    &.large {
        .for(facebook twitter linkedin google favorite); .-each(@name) {
            &.@{name} {
                background-image: url("@{AppPath-Images}/icons/large/@{name}.png");
            }
        }
    }

    // /* Medium Size Icons */

    &.medium {
        .for(freetrial subscribe unsubscribe purchase start stop); .-each(@name) {
            &.@{name} {
                background-image: url("@{AppPath-Images}/icons/medium/@{name}.png");
            }
        }
    }

    // /* Small Size Icons */

    &.small {
        .for(plus); .-each(@name) {
            &.@{name} {
                background-image: url("@{AppPath-Images}/icons/small/@{name}.png");
            }
        }
    }

    // /* X Small Size Icons */

    &.x-small {
        .for(arrow-white-down); .-each(@name) {
            &.@{name} {
                background-image: url("@{AppPath-Images}/icons/x-small/@{name}.png");
            }
        }
    }

    // /*** OTHER *** */

    &.add-p {
        width: 16px;
        height: 16px;
        background: url("@{AppPath-Images}/icons/add-p.png");
    }

    &.add-l {
        width: 16px;
        height: 16px;
        background: url("@{AppPath-Images}/icons/add-l.png");
    }

    &.add-q {
        width: 18px;
        height: 16px;
        background: url("@{AppPath-Images}/icons/add-q.png");
    }

    &.add-r {
        width: 18px;
        height: 16px;
        background: url("@{AppPath-Images}/icons/add-r.png");
    }

    &.certificate {
        width: 16px;
        height: 16px;
        background: url("@{AppPath-Images}/icons/certificate.png");
    }

    &.rss {
        width: 14px;
        height: 14px;
        background: url('@{AppPath-Images}/icons/rss.png');
    }

    &.pdf {
        width: 20px;
        height: 20px;
        background: url('@{AppPath-Images}/icons/pdf.png');
    }

    &.video {
        width: 20px;
        height: 20px;
        background: url('@{AppPath-Images}/icons/video.png');
    }

    &.link {
        width: 20px;
        height: 20px;
        background: url('@{AppPath-Images}/icons/link.png');
    }
}

/* *** GLYPHS *** */

.app-i,
[class^="app-i__"],
[class*=" app-i__"] {
    &:extend(.cm-i all);
    font-family: @AppIconVars-Family;

    &:link,
    &:visited,
    &:hover,
    &:active {
        font-family: @AppIconVars-Family;
    }
}

.app-i__quicksilk {
    &:before {
        content: @AppIcon-QuickSilk;
    }
}

.app-i__gear {
    &:before {
        content: @AppIcon-Gear;
    }
}

.app-i__gears {
    &:before {
        content: @AppIcon-Gears;
    }
}

.app-i__pages {
    &:before {
        content: @AppIcon-Pages;
    }
}

.app-i__palette {
    &:before {
        content: @AppIcon-Palette;
    }
}

.app-i__layouts {
    &:before {
        content: @AppIcon-Layouts;
    }
}

.app-i__templates {
    &:before {
        content: @AppIcon-Templates;
    }
}

.app-i__plus {
    &:before {
        content: @AppIcon-Plus;
    }
}

.app-i__form {
    &:before {
        content: @AppIcon-Form;
    }
}

.app-i__desktop {
    &:before {
        content: @AppIcon-Desktop;
    }
}

.app-i__tablet {
    &:before {
        content: @AppIcon-Tablet;
    }
}

.app-i__mobile {
    &:before {
        content: @AppIcon-Mobile;
    }
}

/* Circle */

.app-i__circle-help {
    &:before {
        content: @AppIcon-CircleHelp;
    }
}

.app-i__circle-user {
    &:before {
        content: @AppIcon-CircleUser;
    }
}

.app-i__circle-plus {
    &:before {
        content: @AppIcon-CirclePlus;
    }
}

.app-i__circle-gear {
    &:before {
        content: @AppIcon-CircleGear;
    }
}

.app-i__circle-star {
    &:before {
        content: @AppIcon-CircleStar;
    }
}

.app-i__circle-flash {
    &:before {
        content: @AppIcon-CircleFlash;
    }
}

.app-i__circle-actions {
    &:before {
        content: @AppIcon-CircleActions;
    }
}