/* ******* COMMON: TAGS ******* */

body {
    .app__font--p;
}

h1 {
    .app__font--h1;
}

h2 {
    .app__font--h2;
}

h3 {
    .app__font--h3;
}

h4 {
    .app__font--h4;
}

h5 {
    .app__font--h5;
}

h6 {
    .app__font--h6;
}

h1, h2, h3, h4, h5, h6 {
    .cm__link {
        font-style: inherit;
        font-weight: inherit;
        color: inherit;
        text-decoration: inherit;
    }
}

.cm__font--link {
    .app__font--a;

    &:hover {
        .app__font--a--hover;
    }

    &:active {
        .app__font--a--active;
    }
}

.button {
    .app__font--button;
}