/* ******* COMMON: UI ******* */

/* *** STATES *** */

html {
    &.is-wrap {
        overflow: hidden;
    }

    &.is-topmenu {
        .app__sidebar {
            top: @AppTopMenu-Height;
        }

        .app__panel {
            top: @AppTopMenu-Height;
        }

        .app__content {
            margin-top: @AppTopMenu-Height;
        }

        .app__notification {
            &.pull-top {
                top: @AppTopMenu-Height;
            }
        }

        .tpl__container {
            margin-top: @AppTopMenu-Height;
        }

        .tpl__header__transformed {
            top: @AppTopMenu-Height;
        }
    }

    &.is-topmenu--expanded {
        overflow: hidden;
    }

    &.is-editor--collapsed {
        .app__notification {
            left: @AppSidebar-WidthCollapsed;
        }

        .app__content {
            margin-left: @AppSidebar-WidthCollapsed;
        }

        .tpl__container {
            margin-left: @AppSidebar-WidthCollapsed;
        }

        .tpl__header__container,
        .tpl__header__transformed {
            &.is-fixed {
                left: @AppSidebar-WidthCollapsed;
            }
        }
    }

    &.is-editor--expanded {
        .app__notification {
            left: @AppSidebar-WidthExpanded;
        }

        .app__content {
            margin-left: @AppSidebar-WidthExpanded;
        }

        .tpl__container {
            margin-left: @AppSidebar-WidthExpanded;
        }

        .tpl__header__container,
        .tpl__header__transformed {
            &.is-fixed {
                left: @AppSidebar-WidthExpanded;
            }
        }

        .tpl__header__transformed {
            margin-top: @AppTpl-Content-EditableIndent;
        }

        .tpl__content {
            margin: @AppTpl-Content-EditableIndent 0;
        }

        .tpl__header__container,
        .tpl__header__transformed,
        .tpl__header,
        .tpl__content,
        .tpl__footer {
            &:hover {
                z-index: 10;
            }
        }
    }

    &:not(.is-editing) {
        .app__module__controls--edit {
            display: none;
        }

        &.is-editor {
            .app__module__controls {
                display: none;
            }
        }
    }
}

/* *** COMMON: UI: PRINT *** */

@media print {

    .app__module__controls--edit,
    .app__module__controls {
        display: none !important;
    }

}