.mod__drive {
    .pt__toolbar {
        .pt__breadcrumbs {
            @padding_calc: ((@CmForm-FieldHeight - @CmFont-Base-LineHeight) / 2);
            @padding: max(round(@padding_calc), 0px);
            padding-top: @padding;
            padding-bottom: @padding;
        }
    }
}