/* ******* MODULES: HIDDEN TABS ******* */

.app-mod__hidden-tabs {
    z-index: 1;
    .mx__transition(z-index, @CmUI-Transition-Duration);

    > .inner {
        position: relative;

        > .tabs__head {
            position: relative;
            z-index: 2;

            ul {
                .cm__list-clear;
                .cm__list-inline--base;

                > li {
                    position: relative;
                    z-index: 1;
                    .mx__transition(all, @CmUI-Transition-Duration);

                    > a {
                        .display-flex;
                        white-space: nowrap;
                        .mx__transition(all, @CmUI-Transition-Duration);
                        .mx__align-items(center);

                        .image {
                            position: relative;

                            img {
                                .cm__image-centered;
                            }
                        }

                        .title {
                            &:first-child {
                                margin-left: 0;
                            }

                            &:last-child {
                                margin-right: 0;
                            }
                        }

                        &:hover {
                            .mx__transition(all, @CmUI-Transition-DurationReverse);
                        }
                    }

                    &:first-child {
                        margin: 0;
                    }

                    &:last-child {
                        margin: 0;
                    }

                    &:hover {
                        z-index: 2;
                        .mx__transition(all, @CmUI-Transition-DurationReverse);
                    }
                }
            }
        }

        > .tabs__menu {
            display: none;
            position: relative;
            z-index: 3;

            > .inner {
                position: relative;

                .label {
                    .cm__text-nowrap;
                }

                .icon {
                    float: right;

                    &.default {
                        .icon.medium.menu;
                    }
                }

                &:hover,
                &.active {
                    .pt__menu-dropdown {
                        .pt__menu-dropdown--active;
                    }
                }
            }

            .pt__menu-dropdown {
                .pt__menu-dropdown--base;
                min-width: 100%;
                top: 100%;
            }
        }

        > .tabs__content {
            position: absolute;
            z-index: 1;
            visibility: hidden;
            opacity: 0;
            .mx__position(auto, 0, auto, 0);
            .mx__transition(opacity visibility height, @CmUI-Transition-Duration);

            > .inner {
                > ul {
                    .cm__list-clear;
                    position: relative;
                    .mx__transition(height, @AppMod-HiddenTabs-Duration);

                    > li {
                        position: absolute;
                        z-index: 1;
                        visibility: hidden;
                        opacity: 0;
                        overflow: hidden;
                        .mx__position(0, 0, 0, 0);
                        .mx__transition(all, @AppMod-HiddenTabs-Duration);

                        &.active {
                            position: relative;
                            z-index: 2;
                            visibility: visible;
                            opacity: 1;
                            overflow: visible;
                        }
                    }
                }
            }

            &.is-show {
                visibility: visible;
                opacity: 1;
                .mx__transition(opacity visibility height, @CmUI-Transition-DurationReverse);
            }
        }
    }

    &.is-editing {
        > .inner {
            > .tabs__content {
                position: relative;

                > .inner {
                    > ul {
                        > li {
                            display: none;

                            &.active {
                                display: block;
                            }
                        }
                    }
                }
            }
        }

        &.expand-top {
            > .inner {
                > .tabs__content {
                    bottom: auto;
                }
            }
        }

        &.expand-bottom {
            > .inner {
                > .tabs__content {
                    top: auto;
                }
            }
        }
    }

    &.pull-justify {
        > .inner {
            > .tabs__head {
                ul {
                    .display-flex;
                    .mx__flex-flow(row wrap);

                    > li {
                        max-width: 100%;
                        .mx__flex(1 1 auto);

                        > a {
                            .cm__text-nowrap;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }

    &:hover {
        z-index: 10;
    }

    .app-mod__hidden-tabs__label-indent(@AppMod-HiddenTabs-Label-Indent);
    .app-mod__hidden-tabs__label-title-indent(@AppMod-HiddenTabs-Label-TitleIndent);
    .app-mod__hidden-tabs__content-indent(@AppMod-HiddenTabs-Content-Indent);
    .app-mod__hidden-tabs__image-size(@AppMod-HiddenTabs-Image-Size);
}

/* *** THEMES *** */

.app-mod__hidden-tabs {
    &.theme-initial {
        > .inner {
            > .tabs__head {
                > .inner {
                    ul {
                        > li {
                            border: @AppMod-HiddenTabs-Border;
                            border-radius: @AppMod-HiddenTabs-BorderRadius;

                            > a {
                                .cm__font;
                                padding: 0 @AppMod-HiddenTabs-Label-InnerIndent;
                                line-height: @AppMod-HiddenTabs-Label-Height;
                                text-decoration: none;
                            }
                        }
                    }
                }
            }

            > .tabs__menu {
                > .inner {
                    border: @AppMod-HiddenTabs-Border;
                    border-radius: @AppMod-HiddenTabs-BorderRadius;

                    .label {
                        .cm__font;
                        min-height: @AppMod-HiddenTabs-Menu-Height;
                        line-height: @AppMod-HiddenTabs-Menu-Height;
                        padding: 0 @AppMod-HiddenTabs-Menu-Indent;
                    }

                    .icon {
                        width: @AppMod-HiddenTabs-Menu-Height;
                        height: @AppMod-HiddenTabs-Menu-Height;
                    }
                }
            }

            > .tabs__content {
                > .inner {
                    padding: @CmIndent-XSmall;
                    border: @AppMod-HiddenTabs-Border;
                    border-radius: @AppMod-HiddenTabs-BorderRadius;
                    box-shadow: @CmUI-Shadow-Bottom;
                }
            }
        }
    }

    &.theme-light {
        > .inner {
            > .tabs__head {
                > .inner {
                    ul {
                        > li {
                            background: @AppMod-HiddenTabs-ThemeLight-Label-DefaultBackground;
                            border-color: @AppMod-HiddenTabs-ThemeLight-BorderColor;

                            &:hover {
                                background: @AppMod-HiddenTabs-ThemeLight-Label-HoverBackground;
                            }

                            &.active {
                                background: @AppMod-HiddenTabs-ThemeLight-Label-ActiveBackground;
                            }
                        }
                    }
                }
            }

            > .tabs__menu {
                > .inner {
                    background: @AppMod-HiddenTabs-ThemeLight-Menu-Background;
                    border-color: @AppMod-HiddenTabs-ThemeLight-BorderColor;
                }
            }

            > .tabs__content {
                > .inner {
                    background-color: @AppMod-HiddenTabs-ThemeLight-Content-Background;
                    border-color: @AppMod-HiddenTabs-ThemeLight-BorderColor;
                }
            }
        }
    }

    &.theme-default {
        &:extend(.app-mod__hidden-tabs.theme-initial all);
        &:extend(.app-mod__hidden-tabs.theme-light all);
    }
}

// /* *** MIXINS *** */

.app-mod__hidden-tabs__label-indent (@indent: @AppMod-HiddenTabs-Label-Indent) {
    &.pull-left {
        > .inner {
            > .tabs__head {
                ul {
                    text-align: left;

                    > li {
                        margin-right: @indent;

                        &:last-child {
                            margin-right: 0;
                        }
                    }
                }
            }
        }
    }

    &.pull-center {
        > .inner {
            > .tabs__head {
                ul {
                    text-align: center;

                    > li {
                        margin-right: @indent;

                        &:last-child {
                            margin-right: 0;
                        }
                    }
                }
            }
        }
    }

    &.pull-right {
        > .inner {
            > .tabs__head {
                ul {
                    text-align: right;

                    > li {
                        margin-left: @indent;

                        &:first-child {
                            margin-left: 0;
                        }
                    }
                }
            }
        }
    }

    &.pull-justify {
        > .inner {
            > .tabs__head {
                ul {
                    text-align: center;

                    > li {
                        margin-right: @indent;

                        &:last-child {
                            margin-right: 0;
                        }
                    }
                }
            }
        }
    }
}

.app-mod__hidden-tabs__label-title-indent (@indent: @AppMod-HiddenTabs-Label-TitleIndent) {
    > .inner {
        > .tabs__head {
            ul {
                > li {
                    > a {
                        .title {
                            margin-left: @AppMod-HiddenTabs-Label-TitleIndent;
                            margin-right: @AppMod-HiddenTabs-Label-TitleIndent;

                            &:first-child {
                                margin-left: 0;
                            }

                            &:last-child {
                                margin-right: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}

.app-mod__hidden-tabs__content-indent (@indent: @AppMod-HiddenTabs-Content-Indent) {
    &.expand-bottom {
        > .inner {
            > .tabs__content {
                top: ~'calc(100% + @{indent})';
            }
        }

        &.is-editing {
            > .inner {
                > .tabs__content {
                    margin-top: @indent;
                }
            }
        }
    }

    &.expand-top {
        > .inner {
            > .tabs__content {
                bottom: ~'calc(100% + @{indent})';
            }
        }

        &.is-editing {
            > .inner {
                > .tabs__content {
                    margin-bottom: @indent;
                }
            }
        }
    }
}

.app-mod__hidden-tabs__image-size (@size: @AppMod-HiddenTabs-Image-Size) {
    > .inner {
        > .tabs__head {
            ul {
                > li {
                    > a {
                        .image {
                            width: @size;
                            height: @size;
                        }
                    }
                }
            }

            .pt__image {
                width: @size;
                height: @size;
            }
        }
    }
}

// /* *** HELPERS *** */

.app-mod__hidden-tabs-helper__duration {
    transition-duration: @AppMod-HiddenTabs-Duration;
}

/* ******* COMPONENTS: TABSET: ADAPTIVE ******* */

@media only screen and (max-width : @AppMod-HiddenTabs-AdaptiveFrom) {

    html.is-adaptive {
        .app-mod__hidden-tabs {
            > .inner {
                > .tabs__head {
                    display: none;
                }

                > .tabs__menu {
                    display: block;
                }

                > .tabs__content {
                    > .inner {
                        > ul {
                            .cm__transition-none;
                        }
                    }
                }
            }
        }
    }
}