/* ******* MODULES: MENU ******* */

.mod__menu {
    .menu__menu,
    .menu__sub {
        .mx__transition(all, @CmUI-Transition-Duration);

        ul {
            .cm__list-clear;
            .mx__transition(all, @CmUI-Transition-Duration);
        }

        li {
            display: block;
            position: relative;
            z-index: 1;
            .mx__transition(all, @CmUI-Transition-Duration);

            &:hover {
                z-index: 2;
                .mx__transition(all, @CmUI-Transition-DurationReverse);
            }
        }

        a {
            display: block;
            position: relative;
            .mx__transition(all, @CmUI-Transition-Duration);

            &:hover {
                .mx__transition(all, @CmUI-Transition-DurationReverse);
            }
        }
    }

    .menu__select {
        display: none;
        position: relative;

        .select__select {
            min-height: 0;
            height: auto;
            position: relative;
            z-index: 2;
            padding: 0;
            border: none;
            border-radius: 0;
            box-shadow: none;
            background: transparent;
            text-shadow: none;
            text-decoration: none;
            cursor: pointer;
            .mx__appearance(none);

            &::-ms-expand {
                display: none;
            }
        }

        .select__button {
            .icon.initial;
            .icon.linked;
            .icon.medium.menu;
            width: @CmSize-Large;
            position: absolute;
            z-index: 1;
            .mx__position(0, 0, 0, auto);
        }
    }

    // /* *** SUBMENU VIEW ***/

    &.is-dropdown {
        .menu__menu {
            > ul {
                > li {
                    &:hover {
                        > .menu__sub {
                            .mod__menu__sub--dropdown--active;
                        }
                    }
                }
            }
        }

        .menu__sub {
            .mod__menu__sub--dropdown;
        }
    }

    &.is-specific {
        .menu__menu,
        .menu__sub {
            li {
                &.active {
                    > .menu__sub {
                        display: block;
                    }
                }
            }
        }

        .menu__sub {
            display: none;
        }
    }

    &.is-collapsible {
        .menu__menu,
        .menu__sub {
            li {
                &.active {
                    > .menu__sub {
                        height: auto;
                    }
                }
            }
        }

        .menu__sub {
            height: 0;
            overflow: hidden;
            .mx__transition(none);
        }
    }

    // /* *** VIEW *** */

    &.is-horizontal {
        .menu__menu {
            > ul {
                .cm__list-inline--base;

                > li {
                    > a {
                        .cm__text-nowrap;
                        white-space: nowrap;
                    }

                    > .menu__sub {
                        min-width: 100%;
                    }
                }
            }
        }
    }

    &.is-vertical {
    }

    // /* *** ALIGN *** */

    &.pull-left {
        .menu__menu {
            ul, a {
                text-align: left;
            }
        }
    }

    &.pull-center,
    &.pull-justify {
        .menu__menu {
            ul, a {
                text-align: center;
            }
        }
    }

    &.pull-right {
        .menu__menu {
            ul, a {
                text-align: right;
            }
        }
    }

    &.pull-justify {
        &.is-horizontal {
            .menu__menu {
                > ul {
                    .display-flex;
                    .mx__flex-flow(row nowrap);

                    > li {
                        max-width: 100%;
                        .mx__flex(1 1 0);

                        > a {
                            .cm__text-nowrap;
                        }
                    }
                }
            }
        }
    }
}

.mod__menu--adaptive {
    .menu__menu {
        display: none;
    }

    .menu__select {
        display: block;
    }
}

.mod__menu__sub--dropdown {
    visibility: hidden;
    position: absolute;
    opacity: 0;
    .mx__transition(all, @CmUI-Transition-Duration);

    li {
        &:hover {
            > .menu__sub {
                .mod__menu__sub--dropdown--active;
            }
        }

        a {
            white-space: nowrap;
            text-align: left;
        }
    }
}

.mod__menu__sub--dropdown--active {
    visibility: visible;
    opacity: 1;
    .mx__transition(all, @CmUI-Transition-DurationReverse);
}

/* ******* CUSTOM ******* */

.mod__menu--custom {
    &.is-vertical {
        &.is-dropdown {
            .menu__sub {
                > ul {
                    .pt__menu-dropdown--base;
                    .pt__menu-dropdown--inside;
                }
            }

            .mod__menu__sub-dropdown();
        }
    }
}

.mod__menu__sub-dropdown (@parentPadding: 0px, @parentBorder: 0px, @selfPadding: 0px, @selfBorder: 0px) {
    .menu__sub {
        .mod__menu__sub-dropdown--parent-horizontal(@parentPadding, @parentBorder, @selfPadding, @selfBorder);

        .menu__sub {
            .mod__menu__sub-dropdown--horizontal(@selfPadding, @selfBorder);
        }
    }
}

.mod__menu__sub-dropdown--parent-horizontal (@parentPadding, @parentBorder, @selfPadding, @selfBorder) {
    @indent_top: -(@selfPadding + @selfBorder);

    .mx__position(@indent_top, auto, auto, ~"calc(100% + @{parentPadding} + @{parentBorder})");

    &.pull-left {
        .mx__position(@indent_top, auto, auto, ~"calc(100% + @{parentPadding} + @{parentBorder})");
    }

    &.pull-right {
        .mx__position(@indent_top, ~"calc(100% + @{parentPadding} + @{parentBorder})", auto, auto);
    }
}

.mod__menu__sub-dropdown--horizontal (@selfPadding, @selfBorder) {
    @indent_top: -(@selfPadding + @selfBorder);

    .mx__position(@indent_top, auto, auto, ~"calc(100% + @{selfPadding} + @{selfBorder})");

    &.pull-left {
        .mx__position(@indent_top, auto, auto, ~"calc(100% + @{selfPadding} + @{selfBorder})");
    }

    &.pull-right {
        .mx__position(@indent_top, ~"calc(100% + @{selfPadding} + @{selfBorder})", auto, auto);
    }
}

/* ******* MODULES: MENU: ADAPTIVE ******* */

@media only screen and (max-width : @CmUI-AdaptiveFrom) {

    html.is-adaptive {
        .mod__menu {
            &.is-adaptive {
                .mod__menu--adaptive;
            }
        }
    }

}

/* ******* MODULES: MENU: PRINT ******* */

@media print {

    .mod__menu {
        display: none !important;
    }

}