/* ******* BASE ******* */

.mod__menu {
    .menu__menu,
    .menu__sub {
        .mx__transition(all, @CmUI-Transition-Duration);

        ul {
            .cm__list-clear;
            .mx__transition(all, @CmUI-Transition-Duration);
        }

        li {
            display: block;
            position: relative;
            z-index: 1;
            .mx__transition(all, @CmUI-Transition-Duration);

            &:hover {
                z-index: 2;
                .mx__transition(all, @CmUI-Transition-DurationReverse);
            }
        }

        a {
            display: block;
            position: relative;
            .mx__transition(all, @CmUI-Transition-Duration);

            &:hover {
                .mx__transition(all, @CmUI-Transition-DurationReverse);
            }
        }
    }

    .menu__select {
        display: none;
        position: relative;

        .select__select {
            min-height: 0;
            height: auto;
            position: relative;
            z-index: 2;
            padding: 0;
            border: none;
            border-radius: 0;
            box-shadow: none;
            background: transparent;
            text-shadow: none;
            text-decoration: none;
            cursor: pointer;
            .mx__appearance(none);

            &::-ms-expand {
                display: none;
            }
        }

        .select__button {
            .icon.initial;
            .icon.linked;
            width: @CmSize-Large;
            position: absolute;
            z-index: 1;
            .mx__position(0, 0, 0, auto);
        }
    }

    // /* *** SUBMENU VIEW ***/

    &.is-dropdown {
        .menu__menu {
            > ul {
                > li {
                    &:hover {
                        > .menu__sub {
                            .mod__menu__sub--dropdown--active;
                        }
                    }
                }
            }
        }

        .menu__sub {
            .mod__menu__sub--dropdown;
        }
    }

    &.is-specific {
        .menu__menu,
        .menu__sub {
            li {
                &.active {
                    > .menu__sub {
                        display: block;
                    }
                }
            }
        }

        .menu__sub {
            display: none;
        }
    }

    &.is-collapsible {
        .menu__menu,
        .menu__sub {
            li {
                &.active {
                    > .menu__sub {
                        height: auto;
                    }
                }
            }
        }

        .menu__sub {
            height: 0;
            overflow: hidden;
            .mx__transition(none);
        }
    }

    // /* *** VIEW *** */

    &.is-horizontal {
        .menu__menu {
            > ul {
                .cm__list-inline--base;

                > li {
                    > a {
                        .cm__text-nowrap;
                        white-space: nowrap;
                    }

                    > .menu__sub {
                        min-width: 100%;
                    }
                }
            }
        }
    }

    &.is-vertical {
    }

    // /* *** ALIGN *** */

    &.pull-left {
        .menu__menu {
            ul, a {
                text-align: left;
            }
        }
    }

    &.pull-center,
    &.pull-justify {
        .menu__menu {
            ul, a {
                text-align: center;
            }
        }
    }

    &.pull-right {
        .menu__menu {
            ul, a {
                text-align: right;
            }
        }
    }

    &.pull-justify {
        &.is-horizontal {
            .menu__menu {
                > ul {
                    .display-flex;
                    .mx__flex-flow(row nowrap);

                    > li {
                        max-width: 100%;
                        .mx__flex(1 1 0);

                        > a {
                            .cm__text-nowrap;
                        }
                    }
                }
            }
        }
    }
}

.mod__menu--adaptive {
    .menu__menu {
        display: none;
    }

    .menu__select {
        display: block;
    }
}

.mod__menu__sub--dropdown {
    visibility: hidden;
    position: absolute;
    opacity: 0;
    .mx__transition(all, @CmUI-Transition-Duration);

    li {
        &:hover {
            > .menu__sub {
                .mod__menu__sub--dropdown--active;
            }
        }

        a {
            white-space: nowrap;
            text-align: left;
        }
    }
}

.mod__menu__sub--dropdown--active {
    visibility: visible;
    opacity: 1;
    .mx__transition(all, @CmUI-Transition-DurationReverse);
}

/* ******* CUSTOM ******* */

.mod__menu--custom {
    /* *** DROPDOWN *** */

    &.is-dropdown {
        .menu__sub {
            > ul {
                .pt__menu-dropdown--base;
                .pt__menu-dropdown--embed;
            }
        }
    }

    .mx__mod__menu__sub--dropdown-position(@PtMenu-IndentX, @PtMenu-IndentY, @PtMenu-BorderWidth, @PtMenu-BorderWidth);

    /* *** SELECT *** */
    
    .mx__mod__menu__select--size();
    .mx__mod__menu__select--font();
    .mx__mod__menu__select--background();
}

/* ******* MIXINS ******* */

/* *** ITEMS *** */

.mx__mod__menu__primary-item--indent (@indent: 0px) {
    &.is-horizontal {
        &.pull-left,
        &.pull-center,
        &.pull-justify {
            .menu__menu {
                > ul {
                    > li {
                        margin-right: @indent;

                        &:last-child {
                            margin-right: 0;
                        }
                    }
                }
            }
        }

        &.pull-right {
            .menu__menu {
                > ul {
                    > li {
                        margin-left: @indent;

                        &:first-child {
                            margin-left: 0;
                        }
                    }
                }
            }
        }
    }

    &.is-vertical {
        .menu__menu {
            > ul {
                > li {
                    margin-top: @indent;

                    &:first-child {
                        margin-top: 0;
                    }
                }
            }
        }
    }
}

.mx__mod__menu__secondary-item--indent (@indent: 0px) {
    .menu__sub {
        > ul {
            > li {
                margin-top: @indent;

                &:first-child {
                    margin-top: 0;
                }
            }
        }
    }
}

/* *** SELECT *** */

.mx__mod__menu__select--size (@size: @CmForm-FieldHeight, @padding: @CmIndent-XXXSmall) {
    .menu__select {
        .select__select {
            @button_indent: @size + @padding;
            height: @size;
            padding: @padding @button_indent @padding @padding;
        }

        .select__button {
            width: @size;
            height: @size;
        }
    }
}

.mx__mod__menu__select--font (@color: @CmFont-Base-Color, @size: @CmFont-Base-Size) {
    .menu__select {
        .select__select {
            font-size: @CmFont-Base-Size;
            color: @color;

            option,
            optgroup {
                font-size: @CmFont-Base-Size;
                color: @color; 
            }
        }
    }
}

.mx__mod__menu__select--background (@background: @CmColor-Background, @image: ~"@{CmPath-Images}/icons/medium/menu.png") {
    .menu__select {
        background: @background;

        .select__select {
            option,
            optgroup {
                background: @background;
            }
        }

        .select__button {
            background-image: url("@{image}");
        }
    }
}

/* *** DROPDOWN *** */

.mx__mod__menu__sub--dropdown-position (@paddingX: 0px, @paddingY: 0px, @borderX: 0px, @borderY: 0px) {
    &.is-dropdown {
        &.is-horizontal {
            .menu__sub {
                .mx__mod__menu__sub--dropdown-position--parent-vertical(@paddingX, @paddingY, @borderX, @borderY);

                .menu__sub {
                    .mx__mod__menu__sub--dropdown-position--horizontal(@paddingX, @paddingY, @borderX, @borderY);
                }
            }
        }
        
        &.is-vertical {
            .menu__sub {
                .mx__mod__menu__sub--dropdown-position--parent-horizontal(@paddingX, @paddingY, @borderX, @borderY);

                .menu__sub {
                    .mx__mod__menu__sub--dropdown-position--horizontal(@paddingX, @paddingY, @borderX, @borderY);
                }
            }
        }
    }
}

.mx__mod__menu__sub--dropdown-position--parent-vertical (@paddingX, @paddingY, @borderX, @borderY) {
    .mx__position(100%, auto, auto, 0);

    &.pull-left {
        .mx__position(100%, auto, auto, 0);
    }

    &.pull-right {
        .mx__position(100%, 0, auto, auto);
    }
}

.mx__mod__menu__sub--dropdown-position--parent-horizontal (@paddingX, @paddingY, @borderX, @borderY) {
    @indent_top: -(@paddingY + @borderY);

    .mx__position(@indent_top, auto, auto, calc(100%));

    &.pull-left {
        .mx__position(@indent_top, auto, auto, calc(100%));
    }

    &.pull-right {
        .mx__position(@indent_top, calc(100%), auto, auto);
    }
}

.mx__mod__menu__sub--dropdown-position--horizontal (@paddingX, @paddingY, @borderX, @borderY) {
    @indent_top: -(@paddingY + @borderY);

    .mx__position(@indent_top, auto, auto, ~"calc(100% + @{paddingX} + @{borderX})");

    &.pull-left {
        .mx__position(@indent_top, auto, auto, ~"calc(100% + @{paddingX} + @{borderX})");
    }

    &.pull-right {
        .mx__position(@indent_top, ~"calc(100% + @{paddingX} + @{borderX})", auto, auto);
    }
}

/* ******* ADAPTIVE ******* */

@media only screen and (max-width : @CmUI-AdaptiveFrom) {

    html.is-adaptive {
        .mod__menu {
            &.is-adaptive {
                .mod__menu--adaptive;
            }
        }
    }

}

/* ******* PRINT ******* */

@media print {

    .mod__menu {
        display: none !important;
    }

}