/* ******* MODULES: MENU ******* */

.mod__menu {
    .menu__menu,
    .menu__sub {
        .mx__transition(all, @CmUI-Transition-Duration);

        ul {
            .cm__list-clear;
        }

        li {
            display: block;
            position: relative;
            z-index: 1;
            .mx__transition(all, @CmUI-Transition-Duration);

            &:hover {
                z-index: 2;
                .mx__transition(all, @CmUI-Transition-DurationReverse);
            }
        }

        a {
            display: block;
            position: relative;
            .mx__transition(all, @CmUI-Transition-Duration);

            &:hover {
                .mx__transition(all, @CmUI-Transition-DurationReverse);
            }
        }
    }

    .menu__select {
        display: none;
        position: relative;

        .select__select {
            min-height: 0;
            height: auto;
            position: relative;
            z-index: 2;
            padding: 0;
            border: none;
            border-radius: 0;
            box-shadow: none;
            background: transparent;
            text-shadow: none;
            text-decoration: none;
            cursor: pointer;
            .mx__appearance(none);

            &::-ms-expand {
                display: none;
            }
        }

        .select__button {
            .icon.initial;
            .icon.linked;
            .icon.medium.menu;
            width: @CmSize-Large;
            position: absolute;
            z-index: 1;
            .mx__position(0, 0, 0, auto);
        }
    }

    &.is-horizontal {
        .menu__menu {
            > ul {
                .cm__list-inline--base;

                > li {
                    > a {
                        .cm__text-nowrap;
                        white-space: nowrap;
                    }

                    &:hover {
                        > .menu__sub {
                            .mod__menu__sub--dropdown-active;
                        }
                    }
                }
            }
        }

        .menu__sub {
            .mod__menu__sub--dropdown;
        }
    }

    &.is-vertical {
    }

    // /* *** ALIGN *** */

    &.pull-left {
        .menu__menu {
            ul, a {
                text-align: left;
            }
        }
    }

    &.pull-center,
    &.pull-justify {
        .menu__menu {
            ul, a {
                text-align: center;
            }
        }
    }

    &.pull-right {
        .menu__menu {
            ul, a {
                text-align: right;
            }
        }
    }

    &.pull-justify {
        &.is-horizontal {
            .menu__menu {
                > ul {
                    .display-flex;
                    .mx__flex-flow(row nowrap);

                    > li {
                        max-width: 100%;
                        .mx__flex(1 1 0);

                        > a {
                            .cm__text-nowrap;
                        }
                    }
                }
            }
        }
    }
}

.mod__menu--adaptive {
    .menu__menu {
        display: none;
    }

    .menu__select {
        display: block;
    }
}

.mod__menu__sub--dropdown {
    min-width: 100%;
    visibility: hidden;
    position: absolute;
    opacity: 0;
    .mx__position(100%, auto, auto, 0);
    .mx__transition(all, @CmUI-Transition-Duration);

    &.pull-left {
        .mx__position(100%, auto, auto, 0);
    }

    &.pull-right {
        .mx__position(100%, 0, auto, auto);
    }

    .menu__sub {
        .mx__position(0, auto, auto, 100%);

        &.pull-left {
            .mx__position(0, auto, auto, 100%);
        }

        &.pull-right {
            .mx__position(0, 100%, auto, auto);
        }
    }

    li {
        &:hover {
            > .menu__sub {
                .mod__menu__sub--dropdown-active;
            }
        }
    }
}

.mod__menu__sub--dropdown-active {
    visibility: visible;
    opacity: 1;
    .mx__transition(all, @CmUI-Transition-DurationReverse);
}

/* ******* MODULES: MENU: ADAPTIVE ******* */

@media only screen and (max-width : @CmUI-AdaptiveFrom) {

    html.is-adaptive {
        .mod__menu {
            &.is-adaptive {
                &.is-horizontal {
                    .mod__menu--adaptive;
                }
            }
        }
    }

}

/* ******* MODULES: MENU: PRINT ******* */

@media print {

    .mod__menu {
        display: none !important;
    }

}