/* ******* MODULES: SITEMAP ******* */

.app-mod__sitemap {
    > .inner {
        margin-bottom: -@AppMod-Sitemap-IndentY;
        font-size: 0;

        dl {
            min-width: 116px;
            width: 12.2%;
            display: inline-block;
            margin: 0 2% @AppMod-Sitemap-IndentY 0;
            vertical-align: top;
            font-size: @AppMod-Sitemap-FontSize;
            color: @AppMod-Sitemap-Color;

            &:last-child {
                margin-right: 0;
            }

            dt {
                font-weight: @CmFont-Base-BoldWeight;
                color: @AppMod-Sitemap-Title-Color;

                a {
                    font-weight: inherit;
                    color: inherit;
                }
            }

            dd {
                margin: 6px 0 0 0;
                padding: 0;

                a {
                    color: @AppMod-Sitemap-Color;
                }
            }
        }
    }
}

/* ******* MODULES: SITEMAP: ADAPTIVE ******* */

@media only screen and (max-width : @CmScreen-TabletPortrait) {

    html.is-adaptive {
        .app-mod__sitemap {
            > .inner {
                dl {
                    width: 47%;
                }
            }
        }
    }

}

@media only screen and (max-width : @CmScreen-Mobile) {

    html.is-adaptive {
        .app-mod__sitemap {
            > .inner {
                margin-bottom: 0;

                dl {
                    width: 100%;
                    margin-left: 0;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }

}