/* ******* MODULES: SLIDER *******  */

.app-mod__slider {
    &.is-editing {
        .com__slider {
            > .inner {
                > .slides {
                    > ul {
                        overflow: visible;

                        > li {
                            > .slide-link {
                                display: none;
                            }
                        }
                    }
                }

                > .com__gallery-controls {
                    display: none;
                }
            }
        }
    }
}