/* ******* MODULES: WORKING AREA ******* */

.app-mod__area {
    &.pull-left {
        > .inner {
            margin: 0;
        }
    }

    &.pull-center {
        > .inner {
            margin: 0 auto;
        }
    }

    &.pull-right {
        > .inner {
            margin: 0 0 0 auto;
        }
    }

    &.is-link {
        cursor: pointer !important;

        * {
            cursor: pointer !important;
        }
    }
}

/* ******* MODULES: WORKING AREA: ADAPTIVE ******* */

@media only screen and (max-width : @CmUI-AdaptiveFrom) {

    html.is-adaptive {
        .app-mod__area {
            .app-mod__area.pull-center;
        }
    }

}