/* ******* COMPONENT: LOGIN BOX ******* */

.app-loginbox {
    .check-forgot {
        > .l {
            overflow: hidden;
        }

        > .r {
            float: right;
        }
    }

    .links {
        line-height: @CmBase-Font-LineHeight;

        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            text-align: left;
            font-size: 0;

            li {
                display: inline-block;
                margin: 0 0 0 @CmIndent-XXSmall;
                vertical-align: top;

                &:first-child {
                    margin: 0;
                }

                a {
                    display: block;
                    line-height: @CmForm-FieldHeight;
                    font-size: @CmBase-Font-Size;
                }
            }
        }
    }

    .error {
        color: @CmColor-Invalid-DarkDefault;
    }
}

.com-tooltip.app-loginbox-tooltip {
    > .inner {
        margin: 8px 0 0 0;
        padding: @CmIndent-XSmall @CmIndent-Medium @CmIndent-Medium;
    }

    .app-modular-sign {
        width: @AppLoginBox-width;
    }
}

/* *** MODULAR SIGN *** */

.app-modular-sign {
    .socials {
        font-size: 0;

        .icon {
            &:first-child {
                margin-left: 0;
            }
        }
    }

    .or {
        @margin: (@CmIndent-Medium - (@CmBase-Font-LineHeight / 2));

        margin: @margin 0;
        position: relative;
        text-align: center;
        line-height: @CmBase-Font-LineHeight;

        span {
            position: relative;
            z-index: 2;
            display: inline-block;
            padding: 0 10px;
            background: #fff;
        }

        &:before {
            height: 1px;
            position: absolute;
            z-index: 1;
            top: 50%;
            left: 0;
            right: 0;
            display: block;
            background: @Cm-colorBorder;
            content: ' ';
        }
    }
}

/* ******* COMPONENT: LOGIN BOX: ADAPTIVE ******* */

@media only screen and (max-width : @CmScreen-Mobile) {

    html.is-adaptive {
        .com-tooltip.app-loginbox-tooltip {
            top: 46px !important;
            left: 0 !important;
            right: 0 !important;
            position: absolute;

            > .inner {
                margin: 0;
            }

            .app-modular-sign {
                width: auto;
            }
        }
    }

}