/* ******* COMPONENT: MODULE INFO BLOCK ******* */

.app-module-infoblock {

    > .inner {
        .cm-box;

        > .title {
            border-bottom: 1px solid @cm-colorBorder;

            > .inner {
                padding: @cm-indentXSmall;
            }

            // /* Module */

            .app-module-richeditor {
                .cm-content-tags {
                    margin: 0;
                }
            }

            .app-module {
                margin: 0;
            }
        }

        > .descr {
            > .inner {
                padding: @cm-indentXSmall;
            }
        }
    }
}