/* ******* MODULES: LOGIN LINK ******* */

.app-module-loginlink {
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        white-space: nowrap;
        font-size: 0;

        li {
            .cm__font;
            margin: 0 0 0 @CmIndent-XSmall;
            display: inline-block;
            vertical-align: top;

            &:first-child {
                margin: 0;
            }

            a {
                display: block;
            }

            .icon {
                display: none;
                vertical-align: middle;
            }
        }
    }

    &.pull-left {
        > ul {
            text-align: left;
        }
    }

    &.pull-center {
        > ul {
            text-align: center;
        }
    }

    &.pull-right {
        > ul {
            text-align: right;
        }
    }
}

/* ******* MODULES: LOGIN LINK: PRINT ******* */

@media print {

    .app-module-loginlink {
        display: none !important;
    }

}