/* ******* COMPONENT: MODULE INFO BLOCK ******* */

.app-module-infoblock {

    > .inner {
        #cm > .box;

        > .title {
            border-bottom: 1px solid @cm-colorBorder;

            > .inner {
                padding: @cm-indentXSmall;
            }

            // /* Module */

            .app-module-richeditor {
                dl, ol, ul, p, h1, h2, h3, h4, h5, h6 {
                    margin: 0;
                }
            }

            .app-module {
                margin: 0;
            }
        }

        > .descr {
            > .inner {
                padding: @cm-indentXSmall;
            }
        }
    }
}