/* ******* COMPONENT: MODULE AGGREGATOR ******* */

.app-module-aggregator:extend(.app-module-default all) {
    > ul {
        margin: 0;
        padding: 0;
        list-style: none;

        > li {
            margin: @Cm-indentSmall 0 0 0;

            .service {
                padding: 0 8px;
                display: inline-block;
                vertical-align: top;
                background: @Cm-color;
                font-size: 11px;
                color: #ffffff;

                &.facebook {
                    background-color: #3B5998;
                }

                &.twitter {
                    background-color: #0084B4;
                }
            }

            .date {
                display: inline-block;
                vertical-align: top;
                margin: 0 0 0 @Cm-indentXXSmall;
                color: @AppAggregator-stuffColor;
                font-size: @AppAggregator-stuffFontSize;
            }

            .text {
                margin: @Cm-indentXXXSmall 0 0 0;
            }

            &:first-child {
                margin: 0;
            }
        }
    }
}