/* ******* COMPONENT: SIDEBAR ******* */

.app-sidebar {
    width: @AppLT-Sidebar-width;
    position: fixed;
    z-index: 102;
    overflow: hidden;
    background: @AppLT-Sidebar-background;
    box-shadow: @cm-ui-shadow;
    -webkit-transition: -webkit-transform @AppLT-Sidebar-duration ease-in-out;
        -ms-transition:     -ms-transform @AppLT-Sidebar-duration ease-in-out;
            transition:         transform @AppLT-Sidebar-duration ease-in-out;
    .cm-position(0, auto, 0, 0);

    > .inner {
        position: absolute;
        .cm-position(0, 0, 0, 0);

        > .title {
            #cm > .font-title;
            padding: 6px @AppLT-Sidebar-padding;
            position: absolute;
            background: @AppLT-Sidebar-background;
            text-align: left;
            .cm-user-select(none);
            .cm-position(0, 0, auto, 0);

            .icon {
                position: absolute;
                cursor: pointer;
                -webkit-transition: -webkit-transform @AppLT-Sidebar-duration ease-in-out;
                    -ms-transition:     -ms-transform @AppLT-Sidebar-duration ease-in-out;
                        transition:         transform @AppLT-Sidebar-duration ease-in-out;
                .cm-position(14px, @cm-indentXSmall, auto, auto);
            }
        }

        > .descr {
            padding: @AppLT-Sidebar-padding;
            position: absolute;
            background: @AppLT-Sidebar-background;
            .cm-scroll-y;
            .cm-position(50px, 0, 0, 0);
            .cm-transition(opacity @AppLT-Sidebar-duration ease-in-out);
        }
    }

    &.is-collapsed {
        @translate: @AppLT-Sidebar-widthCollapsed - @AppLT-Sidebar-width;
        -webkit-transform: translateX(@translate);
            -ms-transform: translateX(@translate);
                transform: translateX(@translate);

        > .inner {
            > .title {
                .icon {
                    -webkit-transform: rotate(180deg);
                        -ms-transform: rotate(180deg);
                            transform: rotate(180deg);
                }
            }

            > .descr {
                opacity: 0;
                .cm-opacity-ie(0);
            }
        }
    }

    &.is-immediately {
        .cm-transition-none;

        > .inner {
            > .title {
                .icon {
                    .cm-transition-none;
                }
            }

            > .descr {
                .cm-transition-none;
            }
        }
    }

    // /* *** REMOVE ZONE *** */

    .remove-zone {
        position: absolute;
        padding: 0;
        .cm-position(0, 0, 0, 0);
        z-index: 3;
        opacity: 0;
        background: fadeout(@cm-colorError, 50%);
        border-radius: 0;
        visibility: hidden;

        .title {
            padding: 6px @cm-indentXSmall;
            background-color: @cm-colorError;
            #cm > .font-title;
            color: #fff;
        }

        &.cm-draganddrop-area {
            &.is-available {
                .cm-transition(all @CM-Transition-Duration ease-in-out);

                &.is-highlight {
                    visibility: visible;
                    opacity: 1;
                    background: fadeout(@cm-colorError, 75%);

                    &:before {
                        display: none;
                    }
                }

                &.is-active {
                    visibility: visible;
                    opacity: 1;
                    background: fadeout(@cm-colorError, 50%);

                    &:before {
                        display: none;
                    }
                }
            }
        }
    }
}

/* *** WIDGETS CATEGORY *** */

.app-widgets-category {
    margin: 10px 0 0 0;

    &:first-child {
        margin: 0;
    }

    > dd {
        margin: 0 -@AppWidget-dummyPadding;
        font-size: 0;
        background: @AppLT-Sidebar-background;  /* Fix blinked blocks on collapse in Firefox. */
    }

    .app-widget-container {
        width: @AppLT-Sidebar-dummyWidth;
        margin: 0;
        display: inline-block;
        vertical-align: top;
    }
}

/* ******* COMPONENT: SIDEBAR: ADAPTIVE ******* */

@media only screen and (max-width : @cm-screenTablet) {

    html.is-adaptive {
        .app-sidebar {
            width: @AppLT-Sidebar-widthTablet;

            &.is-collapsed {
                @translate: @AppLT-Sidebar-widthCollapsed - @AppLT-Sidebar-widthTablet;
                -webkit-transform: translateX(@translate);
                -ms-transform: translateX(@translate);
                transform: translateX(@translate);
            }
        }
    }

}

@media only screen and (max-width : @cm-screenMobilePortrait) {

    html.is-adaptive {
        .app-sidebar {
            display: none;
        }
    }

}