/* ****** COMPONENTS: SPLASH ******* */

.app__splash__iframe {
    width: 100%;
    height: 100%;
}

.app__splash__dialog {
    &.is-fullscreen {
        .com__dialog__inner {
            height: 100%;
        }
    }
}