/* ******* COMPONENTS: STYLIZER ******* */

.app__stylizer {

}

/* *** LISTING *** */

.app__stylizer-listing {
    > ul {
        .cm__list-clear;

        > li {
            margin: 22px 0 0 0;

            &:first-child {
                margin: 0;
            }

            .cm__tags {
                margin: 0;
            }
        }
    }
}

/* *** TOOLTIP *** */

.com__tooltip {
    &.app__stylizer-tooltip {
        > .inner {
            > .scroll {
                overflow: hidden;
            }
        }

        .pt__toolbar {
            margin: 0;
        }
    }
}