.app-stylizer-listing {
    margin: 0;
    padding: 0;
    list-style: none;

    > li {
        margin: 22px 0 0 0;

        &:first-child {
            margin: 0;
        }

        * {
            margin: 0;
        }
    }
}

.app-stylizer-tooltip {
    > .inner {
        > .scroll {
            overflow: hidden;
        }
    }

    .pt__toolbar {
        margin: 0;
    }
}