/* ******* TEMPLATES LISTING ******* */

.app-lt__templates-listing {
    overflow: hidden;
    padding-right: @CmIndent-Medium;

    > ul {
        margin: -(@CmIndent-Medium / 2);
        padding: 0;
        overflow: hidden;
        list-style: none;

        > li {
            width: 100% / @AppTemplatePreview-count;
            float: left;

            > .inner {
                padding: @CmIndent-Medium / 2;
            }
        }
    }

}

.app-lt__template-preview {
    @inner-padding: @CmIndent-Medium / 2;
    @gradient: to bottom, rgb(255,255,255) 0, rgba(255,255,255,0.5) 50%;

    border: @CmBorder-Box;
    .mx__transition(border-color, 0.1s);

    > .inner {
        position: relative;
    }

    .preview-image {
        position: relative;
        z-index: 1;

        img {
            .cm__image-resizable;
        }
    }

    .preview-info {
        position: absolute;
        z-index: 2;
        opacity: 0;
        -webkit-transform: translateZ(0);
        .mx__position(0, 0, 0, 0);
        .mx__linear-gradient(@gradient);
        .mx__transition(opacity, 0.3s);

        h2 {
            position: absolute;
            .mx__position(@inner-padding, @inner-padding, auto, @inner-padding);
        }

        .btn-wrap {
            position: absolute;
            margin: 0;
            font-size: 0;
            .mx__position(auto, @inner-padding, @inner-padding, @inner-padding);

            input, button, .button {
                width: 32%;
                margin: 0 0 0 2%;
                padding: 0;

                &:first-child {
                    margin: 0;
                }
            }
        }
    }

    &:hover {
        border: @CmBorder-BoxActive;
        .mx__transition(border-color, 0.1s);

        .preview-info {
            opacity: 1;
            .mx__transition(opacity, 0.1s);
        }
    }
}

.app-lt__templates-layout {
    height: 100%;
    position: relative;

    .app-lt__templates-listing {
        position: absolute;
        top: @CmForm-FieldHeight + @CmIndent-Medium;
        right: 0;
        bottom: 0;
        left: 0;
        overflow-x: hidden;
        overflow-y: auto;
    }
}